node-red-flow.json
[{"id":"cfd76bb7.fffd48","type":"tab","label":"NodeRed SmartHome Project","disabled":false,"info":""},{"id":"b3b0e875.f43b18","type":"Kafka Consumer","z":"cfd76bb7.fffd48","name":"sensorMotion","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":2}],"groupId":"sensorMotionGroup","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":240,"wires":[["73b9d97b.f5e678","f7437ab9.d04b08"]]},{"id":"90988bda.6dd378","type":"Kafka Consumer","z":"cfd76bb7.fffd48","name":"sensorMagnet","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":4}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":340,"wires":[["f7437ab9.d04b08"]]},{"id":"1950a475.d85c2c","type":"Kafka Consumer","z":"cfd76bb7.fffd48","name":"alarm","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":5}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":70,"y":460,"wires":[["f7437ab9.d04b08","827f21fe.4f394"]]},{"id":"b2f04c76.bd5e2","type":"join","z":"cfd76bb7.fffd48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":510,"y":420,"wires":[["b925d1f9.7465d"]]},{"id":"f7437ab9.d04b08","type":"function","z":"cfd76bb7.fffd48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":420,"wires":[["b2f04c76.bd5e2","22da0ff0.92f41"]]},{"id":"b925d1f9.7465d","type":"function","z":"cfd76bb7.fffd48","name":"setSirenStatus","func":"let activatedSiren = false\nconst date = msg.date\nlet alarmOn = msg.payload.alarm.status == 1 \n\nconst rooms = {\n    \"0\": \"Bedroom\",\n    \"1\": \"Living Room\",\n    \"2\": \"Kitchen\",\n    \"3\": \"Bathroom\",\n    \"4\": \"Balcony\"\n}\nconst brokenInto = []\n\nif(alarmOn){\n    for(let device in msg.payload){\n        if(device != \"alarm\" && msg.payload[device].status == 1){\n            activatedSiren = true\n            brokenInto.push(rooms[device.slice(-1)])\n        }\n    }\n}\nmsg = {}\nmsg.rooms = brokenInto\nmsg.date = date\nmsg.activatedSiren = activatedSiren\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":420,"wires":[["891f238f.6a408"]]},{"id":"891f238f.6a408","type":"switch","z":"cfd76bb7.fffd48","name":"isSirenOn","property":"activatedSiren","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":420,"wires":[["c1beb6f3.1b3f78","e73eb693.0896c8"],["c1beb6f3.1b3f78"]]},{"id":"31cfb604.b8e8da","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"sirenTable","x":1410,"y":420,"wires":[[]]},{"id":"c1beb6f3.1b3f78","type":"function","z":"cfd76bb7.fffd48","name":"insertSirenToDbQuery","func":"const status = msg.activatedSiren == true\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"siren\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.payload.description = status ? \"Siren active. Possible burglary\" : \"Siren Inactive\"\nmsg.topic = \"INSERT INTO siren (`name`, `status`,`date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":420,"wires":[["31cfb604.b8e8da","6e25a33d.c1809c"]]},{"id":"7776f30e.97a0ec","type":"Kafka Consumer","z":"cfd76bb7.fffd48","name":"sensorSmoke","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":640,"wires":[["1296d549.ab00bb","3d16f27a.83e68e"]]},{"id":"1296d549.ab00bb","type":"function","z":"cfd76bb7.fffd48","name":"getSmokeSensorStatusDetails","func":"msg =  JSON.parse(msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":640,"wires":[["36e3e2a6.d1083e"]]},{"id":"36e3e2a6.d1083e","type":"switch","z":"cfd76bb7.fffd48","name":"isSmokeDetected","property":"data.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":640,"wires":[["3c039231.b16c3e","6b013704.59f4e8"],["3c039231.b16c3e"]]},{"id":"3c039231.b16c3e","type":"function","z":"cfd76bb7.fffd48","name":"insertSmokeToDbQuery","func":"const status = msg.data.status == 1\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"sensorSmoke\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.payload.description = status ? \"Smoke detected. Possible fire\" : \"Nothing detected\"\nmsg.topic=\"INSERT INTO smoke_sensor (`name`, `status`, `date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":640,"wires":[["19a77c27.746c14"]]},{"id":"19a77c27.746c14","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"sensorSmokeTable","x":1110,"y":640,"wires":[[]]},{"id":"db7fddfd.dac29","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"","x":800,"y":340,"wires":[[]]},{"id":"1572b3b0.3f739c","type":"Kafka Consumer","z":"cfd76bb7.fffd48","name":"sensorLight","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":1}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":40,"wires":[["73b9d97b.f5e678","b1c53072.93318"]]},{"id":"73b9d97b.f5e678","type":"function","z":"cfd76bb7.fffd48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["a7eeada.60e7f5"]]},{"id":"a7eeada.60e7f5","type":"join","z":"cfd76bb7.fffd48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":140,"wires":[["b9a4a181.0db8e","64df3dae.a57f24"]]},{"id":"b9a4a181.0db8e","type":"function","z":"cfd76bb7.fffd48","name":"setLamp1Status","func":"let isOff = true;\nlet sensorLight1 = msg.payload.sensorLight1;\nlet sensorMotion1 = msg.payload.sensorMotion1;\nif(+sensorLight1.lm < 200 && sensorMotion1.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp1\",\n    status: !isOff,\n    date_time: msg.date,\n    description: \"Lamp 1 ON, motion detected and lumens under 200\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":100,"wires":[["6093a236.00f0bc"]]},{"id":"64df3dae.a57f24","type":"function","z":"cfd76bb7.fffd48","name":"setLamp4Status","func":"let isOff = true;\nlet sensorLight4 = msg.payload.sensorLight4;\nlet sensorMotion4 = msg.payload.sensorMotion4;\nif(+sensorLight4.lm < 200 && sensorMotion4.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp4\",\n    status: !isOff,\n    date_time: msg.date,\n    description: \"Lamp 4 ON, motion detected and lumens under 200\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":180,"wires":[["6093a236.00f0bc"]]},{"id":"6093a236.00f0bc","type":"function","z":"cfd76bb7.fffd48","name":"insertLampToDbQuery","func":"msg.payload = {...msg}\nmsg.topic = \"INSERT INTO lamp (`name`, `status`,`date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":140,"wires":[["1c0461b7.613f2e"]]},{"id":"1c0461b7.613f2e","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"lampTable","x":1160,"y":140,"wires":[[]]},{"id":"827f21fe.4f394","type":"function","z":"cfd76bb7.fffd48","name":"turnOffLampsWhenAlarmOn","func":"const result = JSON.parse(msg.payload)\nconst status = result.data.status\nconst date = result.date\nconst lamps =[\"lamp0\",\"lamp2\",\"lamp3\"];\nlet insertQuery = \"\"\nlet description = \"Light off because alarm is armed\"\nlet res = \"INSERT INTO lamp(`name`,`status`,`date_time`, `description`) VALUES \";\n\nif(status == 1) {\n    for(let idx = 0 ; idx < lamps.length ; idx++) {\n        if(idx == lamps.length - 1) res += `('${lamps[idx]}',false,'${date}', '${description}');`;\n        else res += `('${lamps[idx]}',false,'${date}', '${description}'),`;\n    }\n    msg.topic = res\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":520,"wires":[["17c433f.0d1c8cc"]]},{"id":"17c433f.0d1c8cc","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"lampTable","x":610,"y":520,"wires":[[]]},{"id":"7e9d6bfb.bdf404","type":"Kafka Consumer","z":"cfd76bb7.fffd48","name":"sensorTemp","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":3}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":1240,"wires":[["882a4912.6b82e8"]]},{"id":"7e4ef403.e1775c","type":"join","z":"cfd76bb7.fffd48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":1240,"wires":[["e5e0fa27.229748","f400343f.ff42d8","3ddeb9ec.afda16"]]},{"id":"882a4912.6b82e8","type":"function","z":"cfd76bb7.fffd48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1240,"wires":[["7e4ef403.e1775c","f0c98d9a.2f134"]]},{"id":"e5e0fa27.229748","type":"function","z":"cfd76bb7.fffd48","name":"setThermostatStatus","func":"let setThermostatOn = true;\nconst date = msg.date\nfor(const sensorTemp in msg.payload){\n    if(msg.payload[sensorTemp].temp > 22){\n        setThermostatOn = false;\n        break\n    }\n}\nmsg.payload = {}\nmsg.payload.name = \"thermostat\";\nmsg.payload.status = setThermostatOn;\nmsg.payload.temp = 27\nmsg.payload.date_time = date\nmsg.payload.description = setThermostatOn ? \"Thermostat On. Detected temperature below 22\" : \"Thermostat Off. Detected temperature above 22\"\n    \nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1240,"wires":[["23fb7b1.4b94a84"]]},{"id":"3ff9caa5.26a4c6","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"thermostatTable","x":1440,"y":1240,"wires":[[]]},{"id":"23fb7b1.4b94a84","type":"function","z":"cfd76bb7.fffd48","name":"insertThemostartToDbQuery","func":"msg.topic = \"INSERT INTO thermostat (`name`, `status`,`temp`, `date_time`, `description`) VALUES (:name, :status, :temp, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1240,"wires":[["3ff9caa5.26a4c6","96518389.b4f1c"]]},{"id":"f0c98d9a.2f134","type":"function","z":"cfd76bb7.fffd48","name":"insertSensorTempToDbQuery","func":"const temp = msg.payload.temp;\nconst tempDif = msg.payload.tempDif;\nconst name = msg.topic;\nconst date_time = msg.date;\nlet description = \"Input from sensor\";\nif(tempDif > 5) {\n    description += \". Weird behaviour sudden change of temp\"\n}\nmsg.topic = \"INSERT INTO temp_sensor(`name`,`temp`,`temp_dif`,`date_time`, `description`) VALUES \" + `('${name}', ${temp}, ${tempDif}, '${date_time}', '${description}');`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1180,"wires":[["1b306dd4.712d02"]]},{"id":"1b306dd4.712d02","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"sensorTemp","x":770,"y":1180,"wires":[[]]},{"id":"f400343f.ff42d8","type":"function","z":"cfd76bb7.fffd48","name":"turnOnAC","func":"let res = \"INSERT INTO air_condition (`name`, `status`, `temp`, `date_time`, `description`) VALUES \";\nlet ACtempON = 24\nlet ACtempOFF = 0\nlet ACstatusON = true\nlet ACstatusOFF = false\nlet isAcOn = false\nlet i = 0\n\nconst acs = []\n\nfor(const el in msg.payload) {\n    if(msg.payload[el].temp > 29) {\n        msg.description = `AC On. Detected temperature ${msg.payload[el].temp} which is above 29` \n        acs.push(el.slice(-1))\n        if(i == 0) {\n            res += `('AC${el.slice(-1)}',${ACstatusON}, ${ACtempON}, '${msg.date}', '${msg.description}')`\n        }\n        else{\n            res += `,('AC${el.slice(-1)}',${ACstatusON}, ${ACtempON}, '${msg.date}', '${msg.description}')`\n        }\n        i++;\n    }\n    else{\n        msg.description = `AC Off. Detected temperature ${msg.payload[el].temp} which is below 29` \n        acs.push(el.slice(-1))\n        if(i == 0) {\n            res += `('AC${el.slice(-1)}',${ACstatusOFF}, ${ACtempOFF}, '${msg.date}', '${msg.description}')`\n        }\n        else{\n            res += `,('AC${el.slice(-1)}',${ACstatusOFF}, ${ACtempOFF}, '${msg.date}', '${msg.description}')`\n        }\n        i++;\n    }\n   \n}\n\n\nmsg.acs = acs\nmsg.topic = res\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1300,"wires":[["3c2835a6.f40f9a","61a8d736.933298"]]},{"id":"3c2835a6.f40f9a","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"insertACToDbQuery","x":960,"y":1300,"wires":[[]]},{"id":"3ddeb9ec.afda16","type":"function","z":"cfd76bb7.fffd48","name":"checkForSensorTempMalfunction","func":"const date = msg.date;\nlet msgForUser = \"\"\nfor(let el in msg.payload) {\n    let tempDif = msg.payload[el].tempDif\n    if(tempDif > 5) {\n        msgForUser+= `${el} seems to have a weird behaviour\\n`\n    }\n}\nif(msgForUser.length > 0) return {msgForUser , date}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1420,"wires":[["ca5687da.bf75a8"]]},{"id":"3d16f27a.83e68e","type":"function","z":"cfd76bb7.fffd48","name":"getDateAndTime","func":"const result = JSON.parse(msg.payload)\nconst date_time = result.date\nconst day = {\n    0: \"Sun\",\n    1: \"Mon\",\n    2: \"Tue\",\n    3: \"Wed\",\n    4: \"Thu\",\n    5: \"Fri\",\n    6: \"Sat\"\n}\n\nconst dateObj = new Date(date_time)\nconst minutes = dateObj.getMinutes() < 10 ? \"0\" + dateObj.getMinutes() : dateObj.getMinutes()\nconst hours = dateObj.getHours() < 10 ? \"0\" + dateObj.getHours() : dateObj.getHours()\n\nconst date_timeFormatted = day[dateObj.getDay()] + \"-\" + hours + \":\" + minutes\nconst [date,time] = date_timeFormatted.split(\"-\")\n\n\nmsg = {date_time, date_timeFormatted, date, time}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":820,"wires":[["a6cf094c.67b658","d14f55f4.cdb0c8","262ceda.db7c912","82a547ba.31b178"]]},{"id":"a6cf094c.67b658","type":"switch","z":"cfd76bb7.fffd48","name":"vacuumHandler","property":"date_timeFormatted","propertyType":"msg","rules":[{"t":"eq","v":"Mon-10:00","vt":"str"},{"t":"eq","v":"Wed-10:00","vt":"str"},{"t":"eq","v":"Fri-10:00","vt":"str"},{"t":"eq","v":"Mon-12:00","vt":"str"},{"t":"eq","v":"Wed-12:00","vt":"str"},{"t":"eq","v":"Fri-12:00","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":620,"y":720,"wires":[["5925d786.9f9d08"],["5925d786.9f9d08"],["5925d786.9f9d08"],["af38f2a1.f56e2"],["af38f2a1.f56e2"],["af38f2a1.f56e2"]]},{"id":"5925d786.9f9d08","type":"function","z":"cfd76bb7.fffd48","name":"vacuumStart","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.payload.description = \"Vacuum start. Routine cleanup\"\nmsg.topic = \"INSERT INTO vacuum(`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":700,"wires":[["843832e4.c6a19","178cff2f.7c93c1"]]},{"id":"af38f2a1.f56e2","type":"function","z":"cfd76bb7.fffd48","name":"vacuumStop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.payload.description = \"Vacuum stop. Routine cleanup\"\nmsg.topic = \"INSERT INTO vacuum(`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":740,"wires":[["843832e4.c6a19","178cff2f.7c93c1"]]},{"id":"843832e4.c6a19","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"insertVacuumToDbQuery","x":1090,"y":740,"wires":[[]]},{"id":"d14f55f4.cdb0c8","type":"switch","z":"cfd76bb7.fffd48","name":"waterHeaterHandler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"17:00","vt":"str"},{"t":"eq","v":"17:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":820,"wires":[["5b07ac1d.86bb54"],["b334de73.45907"]]},{"id":"5b07ac1d.86bb54","type":"function","z":"cfd76bb7.fffd48","name":"waterHeaterStart","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"waterHeater\";\nmsg.payload.status = true;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Water Heater on. Routine boil water\";\nmsg.topic = \"INSERT INTO water_heater (`name`, `status`, `date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":800,"wires":[["ddb8c86b.39e398","4a6af2ca.2dfc6c"]]},{"id":"b334de73.45907","type":"function","z":"cfd76bb7.fffd48","name":"waterHeaterStop","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"waterHeater\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Water Heater off. Routine boil water\";\nmsg.topic = \"INSERT INTO water_heater (`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":840,"wires":[["ddb8c86b.39e398","4a6af2ca.2dfc6c"]]},{"id":"ddb8c86b.39e398","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"insertWaterHeaterToDbQuery","x":1190,"y":840,"wires":[[]]},{"id":"262ceda.db7c912","type":"switch","z":"cfd76bb7.fffd48","name":"switch0Handler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"03:30","vt":"str"},{"t":"eq","v":"06:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":920,"wires":[["b1b906dd.1525f8"],["b28b0002.ee988"]]},{"id":"b1b906dd.1525f8","type":"function","z":"cfd76bb7.fffd48","name":"switch0Start","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"switch0\";\nmsg.payload.status = true;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Switch0 On. Routine charge phone\"\nmsg.topic = \"INSERT INTO switch (`name`, `status`, `date_time`,`description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":900,"wires":[["ecf443df.9f952","694ad6ff.229658"]]},{"id":"b28b0002.ee988","type":"function","z":"cfd76bb7.fffd48","name":"switch0Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch0\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Switch0 Off. Routine charge phone\"\nmsg.topic = \"INSERT INTO switch (`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":940,"wires":[["ecf443df.9f952","694ad6ff.229658"]]},{"id":"ecf443df.9f952","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"insertSwitch0ToDbQuery","x":1130,"y":940,"wires":[[]]},{"id":"82a547ba.31b178","type":"switch","z":"cfd76bb7.fffd48","name":"switch1Handler","property":"date_timeFormatted","propertyType":"msg","rules":[{"t":"eq","v":"Mon-07:30","vt":"str"},{"t":"eq","v":"Tue-07:30","vt":"str"},{"t":"eq","v":"Wed-07:30","vt":"str"},{"t":"eq","v":"Thu-07:30","vt":"str"},{"t":"eq","v":"Fri-07:30","vt":"str"},{"t":"eq","v":"Mon-07:45","vt":"str"},{"t":"eq","v":"Tue-07:45","vt":"str"},{"t":"eq","v":"Wed-07:45","vt":"str"},{"t":"eq","v":"Thu-07:45","vt":"str"},{"t":"eq","v":"Fri-07:45","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":640,"y":1040,"wires":[["89e52fcf.de541"],["89e52fcf.de541"],["89e52fcf.de541"],["89e52fcf.de541"],["89e52fcf.de541"],["7f3d82e9.7ca0ac"],["7f3d82e9.7ca0ac"],["7f3d82e9.7ca0ac"],["7f3d82e9.7ca0ac"],["7f3d82e9.7ca0ac"]]},{"id":"89e52fcf.de541","type":"function","z":"cfd76bb7.fffd48","name":"switch1Start","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"switch1\";\nmsg.payload.status = true;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Switch1 On. Routine morning coffee\"\nmsg.topic = \"INSERT INTO switch (`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1000,"wires":[["aa3d00ba.2170d","60050b82.8cc884"]]},{"id":"7f3d82e9.7ca0ac","type":"function","z":"cfd76bb7.fffd48","name":"switch1Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch1\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.payload.description = \"Switch1 Off. Routine morning coffee\"\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`,`description`) VALUES(:name,:status,:date_time,:description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1080,"wires":[["aa3d00ba.2170d","60050b82.8cc884"]]},{"id":"aa3d00ba.2170d","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"insertSwitch1ToDbQuery","x":1130,"y":1080,"wires":[[]]},{"id":"22da0ff0.92f41","type":"function","z":"cfd76bb7.fffd48","name":"insertToDbQuery","func":"const status = msg.payload.status\nconst date = msg.date\nlet device = msg.topic\nconst tables = {\n    \"sensorMotion\" : \"motion_sensor\",\n    \"alarm\" : \"alarm\",\n    \"sensorMagnet\" : \"magnet_sensor\"\n}\n\nlet descr;\nif (device == \"alarm\") descr = status ? \"Alarm Armed\" : \"Alarm Disarmed\";\n\nconst descriptions = {\n    \"sensorMotion\": \"Input from sensor\",\n    \"alarm\": descr,\n    \"sensorMagnet\": \"Input from sensor\"\n}\n\nconst table = device == \"alarm\" ? device : device.slice(0,-1);\n\nmsg.payload = {}\nmsg.payload.name = device;\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.payload.description = descriptions[table]\nmsg.topic = `INSERT INTO ${tables[table]}` + \"(`name`, `status`, `date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[["db7fddfd.dac29"]]},{"id":"b1c53072.93318","type":"function","z":"cfd76bb7.fffd48","name":"insertSensorLightsToDbQuery","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg.payload = {}\nmsg.payload.name = key\nmsg.payload.lm = result.data.lm\nmsg.payload.date_time = date\nmsg.payload.description = \"Input from sensor\"\nmsg.topic = \"INSERT INTO light_sensor(`name`, `lm`, `date_time`, `description`) VALUES (:name, :lm, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":40,"wires":[["69e043f6.948b4c"]]},{"id":"69e043f6.948b4c","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"sensorLightsTable","x":670,"y":40,"wires":[[]]},{"id":"83037ab6.c9c6f8","type":"chatbot-message","z":"cfd76bb7.fffd48","name":"smokeDetectedMsg","message":[{"message":"[SMOKE DETECTED - {{date}}] \nSmoke has been detected in your house! Call 911."}],"language":"none","x":1080,"y":580,"wires":[["91886af3.831e48"]]},{"id":"6b013704.59f4e8","type":"chatbot-conversation","z":"cfd76bb7.fffd48","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":860,"y":580,"wires":[["83037ab6.c9c6f8"]]},{"id":"91886af3.831e48","type":"chatbot-telegram-send","z":"cfd76bb7.fffd48","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1310,"y":580,"wires":[]},{"id":"3fc1618b.50c0ce","type":"chatbot-message","z":"cfd76bb7.fffd48","name":"possibleBurglaryMsg","message":[{"message":"[MOTION DETECTED - {{date}}]\nActivity was detected at {{rooms}} while the alarm is ON. Call 911."}],"language":"none","x":1300,"y":340,"wires":[["3e0ed1ce.a4c64e"]]},{"id":"e73eb693.0896c8","type":"chatbot-conversation","z":"cfd76bb7.fffd48","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1080,"y":340,"wires":[["3fc1618b.50c0ce"]]},{"id":"3e0ed1ce.a4c64e","type":"chatbot-telegram-send","z":"cfd76bb7.fffd48","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1510,"y":340,"wires":[]},{"id":"191ca381.4033ec","type":"chatbot-message","z":"cfd76bb7.fffd48","name":"possibleMalfunctionMsg","message":[{"message":"[MALFUNCTION DETECTED - {{date}}]\n{{msgForUser}}"}],"language":"none","x":1310,"y":1420,"wires":[["cc63a03e.87784"]]},{"id":"ca5687da.bf75a8","type":"chatbot-conversation","z":"cfd76bb7.fffd48","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1060,"y":1420,"wires":[["191ca381.4033ec"]]},{"id":"cc63a03e.87784","type":"chatbot-telegram-send","z":"cfd76bb7.fffd48","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1550,"y":1420,"wires":[]},{"id":"3cd1a876.8c47c8","type":"Kafka Producer","z":"cfd76bb7.fffd48","name":"produceSirenEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"siren","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1640,"y":500,"wires":[]},{"id":"6e25a33d.c1809c","type":"function","z":"cfd76bb7.fffd48","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":500,"wires":[["3cd1a876.8c47c8"]]},{"id":"96518389.b4f1c","type":"function","z":"cfd76bb7.fffd48","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":1200,"wires":[["ae93f4ae.20bc08"]]},{"id":"ae93f4ae.20bc08","type":"Kafka Producer","z":"cfd76bb7.fffd48","name":"produceThermostatEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"thermostat","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1700,"y":1200,"wires":[]},{"id":"d4ad07d9.0a2c58","type":"chatbot-telegram-receive","z":"cfd76bb7.fffd48","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","x":90,"y":1820,"wires":[["9bcc3dc4.4a1af","e54e3e9f.ffd11","bbe0bb6a.ba67a8","863665e3.62b308","6b737c37.884f24","979b1fb7.2e117","8715081d.0bb188","7c98e96b.b5bf88","f3adf182.935d1"]]},{"id":"9bcc3dc4.4a1af","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/alarm","x":370,"y":1840,"wires":[["681b264f.8c5c58"]]},{"id":"681b264f.8c5c58","type":"function","z":"cfd76bb7.fffd48","name":"getLatestAlarmStatusDbQuery","func":"msg.topic = \"SELECT status, date_time FROM alarm ORDER BY date_time DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1840,"wires":[["122291c4.d9c4de"]]},{"id":"122291c4.d9c4de","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"alarm","x":830,"y":1840,"wires":[["b89e7585.975fa8"]]},{"id":"b89e7585.975fa8","type":"function","z":"cfd76bb7.fffd48","name":"createAlarmStatusMsg","func":"const status = msg.payload[0].status ? \"ON\" : \"OFF\"\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: Alarm status is ${status}`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1840,"wires":[["c30f6a6c.7a9578"]]},{"id":"e54e3e9f.ffd11","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/tempBedroom","x":380,"y":1780,"wires":[["742b6054.81dfd"]]},{"id":"742b6054.81dfd","type":"function","z":"cfd76bb7.fffd48","name":"getLatestBedroomTempDbQuery","func":"msg.topic = \"SELECT temp, date_time FROM temp_sensor WHERE name = 'sensorTemp0' ORDER BY date_time DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1780,"wires":[["cf4d68bc.81b048"]]},{"id":"cf4d68bc.81b048","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"sensorTemp","x":850,"y":1780,"wires":[["cf1058e9.1d0aa8"]]},{"id":"cf1058e9.1d0aa8","type":"function","z":"cfd76bb7.fffd48","name":"createTempBedroomMsg","func":"const temp = msg.payload[0].temp\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: Bedroom temperature is ${temp} °C`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1780,"wires":[["c30f6a6c.7a9578"]]},{"id":"3a019a75.7f52d6","type":"chatbot-message","z":"cfd76bb7.fffd48","name":"sendMsg","message":[{"message":"{{message}}"}],"language":"none","x":1540,"y":1780,"wires":[["cdd4f269.e7289"]]},{"id":"c30f6a6c.7a9578","type":"chatbot-conversation","z":"cfd76bb7.fffd48","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1360,"y":1780,"wires":[["3a019a75.7f52d6"]]},{"id":"cdd4f269.e7289","type":"chatbot-telegram-send","z":"cfd76bb7.fffd48","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1730,"y":1780,"wires":[]},{"id":"bbe0bb6a.ba67a8","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/tempLivingRoom","x":390,"y":1720,"wires":[["409af26e.1c65bc"]]},{"id":"409af26e.1c65bc","type":"function","z":"cfd76bb7.fffd48","name":"getLatestLivingRoomTempDbQuery","func":"msg.topic = \"SELECT temp, date_time FROM temp_sensor WHERE name = 'sensorTemp1' ORDER BY date_time DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1720,"wires":[["ffdda409.4f4398"]]},{"id":"ffdda409.4f4398","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"sensorTemp","x":870,"y":1720,"wires":[["73569398.afde2c"]]},{"id":"73569398.afde2c","type":"function","z":"cfd76bb7.fffd48","name":"createTempLivingRoomMsg","func":"const temp = msg.payload[0].temp\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: Living Room temperature is ${temp} °C`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1720,"wires":[["c30f6a6c.7a9578"]]},{"id":"863665e3.62b308","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/help","x":370,"y":1900,"wires":[["821af009.bb926"]]},{"id":"821af009.bb926","type":"chatbot-conversation","z":"cfd76bb7.fffd48","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":560,"y":1900,"wires":[["40e89c8a.472e04"]]},{"id":"40e89c8a.472e04","type":"chatbot-message","z":"cfd76bb7.fffd48","name":"sendMsg","message":[{"message":"<-------------  Available System Commands  ------------->\n/help: Display this help panel\n/alarm: Get latest alarm status\n/tempLivingRoom: Get latest Living Room temperature\n/tempBedroom: Get latest Bedroom temperature\n/history: Displays the burglary attemps caught by sensors and alarm\n/errors: Display detected device malfunctions\n/healthcheck: Check the smart-home-system status"}],"language":"none","x":740,"y":1900,"wires":[["30e239e4.ef85d6"]]},{"id":"30e239e4.ef85d6","type":"chatbot-telegram-send","z":"cfd76bb7.fffd48","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":910,"y":1900,"wires":[]},{"id":"6b737c37.884f24","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/errors","x":350,"y":1960,"wires":[["bcfec0da.302c"]]},{"id":"200f12f8.1ce6ce","type":"function","z":"cfd76bb7.fffd48","name":"gerErrorsMsg","func":"const device = `The temperature sensor in the ${msg.payload[0].name.slice(-1) == 1 ? \"Living Room\" : \"Bedroom\"} has shown weird behaviour`\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: ${device}`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1960,"wires":[["c30f6a6c.7a9578"]]},{"id":"f0072f77.06c0d","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"device-errors","x":830,"y":1960,"wires":[["200f12f8.1ce6ce"]]},{"id":"bcfec0da.302c","type":"function","z":"cfd76bb7.fffd48","name":"getErrorsDbQuery","func":"msg.topic = \"SELECT name,date_time FROM temp_sensor WHERE temp_dif > 5;\"\n\nreturn msg;\n// message = `Alarm status is ${}`\n\n// return { msg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1960,"wires":[["f0072f77.06c0d"]]},{"id":"979b1fb7.2e117","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/history","x":360,"y":2040,"wires":[["3c7f142e.f93e8c"]]},{"id":"3c7f142e.f93e8c","type":"function","z":"cfd76bb7.fffd48","name":"getBurglaryAttemptsDbQuery","func":"msg = {}\n\nmsg.topic =`    SELECT date_time\n                FROM\n                (SELECT DISTINCT a.date_time \n                FROM alarm a\n                LEFT JOIN motion_sensor ms \n                ON a.date_time = ms.date_time \n                WHERE a.status = 1 AND ms.status = 1) AS x\n                LEFT JOIN \n                (\n                SELECT DISTINCT  a.date_time as date_time2\n                FROM alarm a\n                LEFT JOIN magnet_sensor ms \n                ON a.date_time = ms.date_time \n                WHERE a.status = 1 AND ms.status = 1) AS y\n                ON x.date_time = y.date_time2\n                `\n\nreturn msg;\n// message = `Alarm status is ${}`\n\n// return { msg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":2040,"wires":[["52caaa87.34ec24"]]},{"id":"2df66d0c.f67062","type":"function","z":"cfd76bb7.fffd48","name":"getBurglariesMsg","func":"const formatDate = (date) =>{\n    return  new Date(date).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date).toLocaleTimeString('en-GB')\n}\n\n\nconst arr = []\nfor(let i=0; i < msg.payload.length ; i++){\n    arr.push(formatDate(msg.payload[i].date_time))\n}\n\nconst message = `Burglary Attempts History : ${[...arr]}`\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":2040,"wires":[["c30f6a6c.7a9578"]]},{"id":"52caaa87.34ec24","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"device-errors","x":870,"y":2040,"wires":[["2df66d0c.f67062"]]},{"id":"db968549.796408","type":"http request","z":"cfd76bb7.fffd48","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8765/healthcheck/serverStatus","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":2140,"wires":[["fcab5140.55399"]]},{"id":"8715081d.0bb188","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/healthcheck","x":370,"y":2140,"wires":[["db968549.796408"]]},{"id":"fcab5140.55399","type":"function","z":"cfd76bb7.fffd48","name":"getExpressServerStatus","func":"const status = msg.statusCode == 200 ? \"UP\" : \"DOWN\"\nconst message = `Express Server: Status -> ${status}`\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":2140,"wires":[["c30f6a6c.7a9578"]]},{"id":"35aaf09c.f37d5","type":"http request","z":"cfd76bb7.fffd48","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":2200,"wires":[["4e76840f.3afc6c"]]},{"id":"7c98e96b.b5bf88","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/healthcheck","x":370,"y":2200,"wires":[["35aaf09c.f37d5"]]},{"id":"4e76840f.3afc6c","type":"function","z":"cfd76bb7.fffd48","name":"getGrafanaServerStatus","func":"const status = msg.statusCode\nconst message = `Grafana Server: Status -> ${status == 200 ? \"UP\" : \"DOWN\"}`\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":2200,"wires":[["c30f6a6c.7a9578"]]},{"id":"f3adf182.935d1","type":"chatbot-command","z":"cfd76bb7.fffd48","name":"","command":"/healthcheck","x":370,"y":2260,"wires":[["e646dbd5.812278"]]},{"id":"db46fecd.60642","type":"function","z":"cfd76bb7.fffd48","name":"getMysqlServerStatus","func":"let message = \"MySQL Server: Status -> \" \nif(msg.error) {\n    message += \"DOWN\"\n}\nelse message+=\"UP\"\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":2260,"wires":[["c30f6a6c.7a9578"]]},{"id":"d7b397fe.d96648","type":"mysql","z":"cfd76bb7.fffd48","mydb":"37a47cd6.48cda4","name":"test-connection","x":780,"y":2260,"wires":[["db46fecd.60642"]]},{"id":"e646dbd5.812278","type":"function","z":"cfd76bb7.fffd48","name":"testConnDbQuery","func":"msg.topic = \"SELECT * FROM alarm;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":2260,"wires":[["d7b397fe.d96648"]]},{"id":"c8900df3.02222","type":"catch","z":"cfd76bb7.fffd48","name":"handleECONNREFUSED","scope":["d7b397fe.d96648"],"uncaught":false,"x":810,"y":2320,"wires":[["db46fecd.60642"]]},{"id":"4a6af2ca.2dfc6c","type":"function","z":"cfd76bb7.fffd48","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":800,"wires":[["5c65dfbd.e25df"]]},{"id":"5c65dfbd.e25df","type":"Kafka Producer","z":"cfd76bb7.fffd48","name":"produceWaterHeaterEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"water_heater","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1440,"y":800,"wires":[]},{"id":"694ad6ff.229658","type":"function","z":"cfd76bb7.fffd48","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":900,"wires":[["c9b9ebf9.643678"]]},{"id":"c9b9ebf9.643678","type":"Kafka Producer","z":"cfd76bb7.fffd48","name":"produceSwitch0EventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"switch","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1330,"y":900,"wires":[]},{"id":"60050b82.8cc884","type":"function","z":"cfd76bb7.fffd48","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1000,"wires":[["e0c3a493.1d5ca8"]]},{"id":"e0c3a493.1d5ca8","type":"Kafka Producer","z":"cfd76bb7.fffd48","name":"produceSwitch1EventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"switch","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1330,"y":1000,"wires":[]},{"id":"178cff2f.7c93c1","type":"function","z":"cfd76bb7.fffd48","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":700,"wires":[["ecde3837.355218"]]},{"id":"ecde3837.355218","type":"Kafka Producer","z":"cfd76bb7.fffd48","name":"produceVacuumEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"vacuum","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1290,"y":700,"wires":[]},{"id":"61a8d736.933298","type":"function","z":"cfd76bb7.fffd48","name":"formatForKafka","func":"const acRooms = {\n    0 : \"Bedroom\",\n    1: \"Living Room\"\n}\nlet res = \"\"\nfor(let i = 0 ; i < msg.acs.length; i++){\n    if(i == 0) {\n        res += `${acRooms[msg.acs[i]]} AC `\n    }\n    else{\n        res += `and ${acRooms[msg.acs[i]]} AC `\n    }\n}\n\nmsg.acs.length > 1 ? res+=\"are \" : res+=\"is\"\n\nlet desc = msg.description\ndesc = msg.description.split(\".\")[1]\n\nres+=` ON. ${desc}`\nconst name = {name: \"AC\"}\nconst date = {date:msg.date}\nconst description = {description : res}\nconst combined = Object.assign(name,date,description)\nmsg = {}\nmsg.payload = JSON.stringify(combined)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1360,"wires":[["d855aeaa.6db86"]]},{"id":"d855aeaa.6db86","type":"Kafka Producer","z":"cfd76bb7.fffd48","name":"produceACEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"aircondition","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1260,"y":1360,"wires":[]},{"id":"391d4ca9.d38784","type":"Kafka Consumer","z":"cfd76bb7.fffd48","name":"grafanaLamps","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"lamps","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":1520,"wires":[["bbec1579.1c55b8"]]},{"id":"f590ea81.e8d4c8","type":"ui_template","z":"cfd76bb7.fffd48","group":"430ea3c6.58654c","name":"","order":0,"width":"20","height":"18","format":"\n\n<style>\n    .container {\n        background-color:black;\n        opacity:0.7;\n        min-width:910px;\n        border: 2px solid red;\n        display:flex;\n        flex-direction:row;\n        flex-wrap: wrap;\n        justify-content:space-between;\n        border: 2px solid black;\n        border-radius :8px;\n    }\n    \n    .lamp {\n        position:relative;\n        max-height:300px;\n        max-width: 300px;\n        border-radius: 4px;\n    }\n    .lamp > img {\n        max-width:300px;\n        max-height:300px;\n        margin-top:20px;\n    }\n    \n    .label{\n        width:100%;\n        text-align:center;\n        color:white;\n        position:absolute;\n        bottom:0;\n    }\n    \n</style>\n\n<p style=\"display:none\">{{msg._kafka.key}}</p>\n<div class=\"container\">\n    <div class=\"lamp\">\n        <div class=\"label\">Bedroom</div>\n        <img ng-if=\"msg.payload[0]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762559758336/lampOn.png\" alt=\"lamp-icon\">\n        <img ng-if=\"!msg.payload[0]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762756886538/lampOff.png\" alt=\"lamp-icon\">\n    </div>\n    <div class=\"lamp\">\n        <div class=\"label\">Living Room</div>\n        <img ng-if=\"msg.payload[1]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762559758336/lampOn.png\" alt=\"lamp-icon\">\n        <img ng-if=\"!msg.payload[1]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762756886538/lampOff.png\" alt=\"lamp-icon\">\n    </div>\n    <div class=\"lamp\">\n        <div class=\"label\">Kitchen</div>\n        <img ng-if=\"msg.payload[2]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762559758336/lampOn.png\" alt=\"lamp-icon\">\n        <img ng-if=\"!msg.payload[2]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762756886538/lampOff.png\" alt=\"lamp-icon\">\n    </div>\n    <div class=\"lamp\">\n        <div class=\"label\">Bathroom</div>\n        <img ng-if=\"msg.payload[3]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762559758336/lampOn.png\" alt=\"lamp-icon\">\n        <img ng-if=\"!msg.payload[3]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762756886538/lampOff.png\" alt=\"lamp-icon\">\n    </div>\n    <div class=\"lamp\">\n        <div class=\"label\">Balcony</div>\n        <img ng-if=\"msg.payload[4]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762559758336/lampOn.png\" alt=\"lamp-icon\">\n        <img ng-if=\"!msg.payload[4]\" src=\"https://cdn.discordapp.com/attachments/930813334494777367/935849762756886538/lampOff.png\" alt=\"lamp-icon\">\n    </div>\n\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":480,"y":1520,"wires":[[]]},{"id":"bbec1579.1c55b8","type":"function","z":"cfd76bb7.fffd48","name":"","func":"const state = global.get('lamps')\n\nif(!state) {\n    const obj = {\n        \"0\":0,\n        \"1\":0,\n        \"2\":0,\n        \"3\":0,\n        \"4\":0\n    }\n    global.set(\"lamps\",obj)\n}\nelse{\n    state[msg._kafka.key] = msg.payload == \"ON\"\n    global.set(\"lamps\",state)\n}\n\nmsg.payload= global.get(\"lamps\")\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1520,"wires":[["f590ea81.e8d4c8"]]},{"id":"95b24dcc.633e","type":"Kafka Broker","name":"broker9092","hosts":[{"host":"localhost","port":9092}],"hostsEnvVar":"","connectTimeout":"100","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false,"useCredentials":false},{"id":"37a47cd6.48cda4","type":"MySQLdatabase","name":"smart-home-db","host":"localhost","port":"3311","db":"smart_home","tz":"","charset":"UTF8"},{"id":"68e7d7e7.53dad8","type":"chatbot-telegram-node","botname":"InsiderBot","usernames":"","token":"5068237183:AAG59tJoISr-ZkxQV6mX_griXOjEWp9gG2Y","providerToken":"","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"},{"id":"430ea3c6.58654c","type":"ui_group","name":"Default","tab":"b3429a1c.e37d18","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"b3429a1c.e37d18","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]