node-red-flow.json
[{"id":"e462b2b1.d5e8f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e5629fe2.66dec","type":"Kafka Consumer","z":"e462b2b1.d5e8f","name":"sensorMotion","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":2}],"groupId":"sensorMotionGroup","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":220,"wires":[["6b7e5ad6.76ed24","638392b2.938b5c","6c0b1420.a19cbc"]]},{"id":"ecf341db.f9e52","type":"Kafka Consumer","z":"e462b2b1.d5e8f","name":"sensorMagnet","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":4}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":300,"wires":[["6c0b1420.a19cbc"]]},{"id":"7d33cce9.c6f874","type":"Kafka Consumer","z":"e462b2b1.d5e8f","name":"alarm","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":5}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":70,"y":420,"wires":[["6c0b1420.a19cbc","83102f09.69417"]]},{"id":"13e3522.fca39ae","type":"join","z":"e462b2b1.d5e8f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530,"y":300,"wires":[["6115b618.e02d78"]]},{"id":"6c0b1420.a19cbc","type":"function","z":"e462b2b1.d5e8f","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":320,"wires":[["13e3522.fca39ae","bbad662b.1d8a18"]]},{"id":"6115b618.e02d78","type":"function","z":"e462b2b1.d5e8f","name":"setSirenStatus","func":"let activatedSiren = false\nconst date = msg.date\nlet alarmOn = msg.payload.alarm.status == 1 \nif(alarmOn){\n    for(let device in msg.payload){\n        if(device != \"alarm\" && msg.payload[device].status == 1){\n            activatedSiren = true\n        }\n    }\n}\nmsg = {}\nmsg.date= date\nmsg.activatedSiren = activatedSiren\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["eb5c8bcc.990238"]]},{"id":"eb5c8bcc.990238","type":"switch","z":"e462b2b1.d5e8f","name":"isSirenOn","property":"activatedSiren","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":320,"wires":[["dcf69c98.ac9f4","9e37952b.f926f8"],["dcf69c98.ac9f4"]]},{"id":"7bee95e3.d3ebbc","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"sirenTable","x":1390,"y":320,"wires":[[]]},{"id":"dcf69c98.ac9f4","type":"function","z":"e462b2b1.d5e8f","name":"insertSirenToDbQuery","func":"const status = msg.activatedSiren == true\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"siren\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=\"INSERT INTO siren (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":320,"wires":[["7bee95e3.d3ebbc"]]},{"id":"f8931ebf.1df5d","type":"Kafka Consumer","z":"e462b2b1.d5e8f","name":"sensorSmoke","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":500,"wires":[["f3fdb7af.3c5148","8dd3fb5b.d82d28"]]},{"id":"f3fdb7af.3c5148","type":"function","z":"e462b2b1.d5e8f","name":"getSmokeSensorStatusDetails","func":"msg =  JSON.parse(msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":500,"wires":[["b0675f76.63807"]]},{"id":"b0675f76.63807","type":"switch","z":"e462b2b1.d5e8f","name":"isSmokeDetected","property":"data.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":500,"wires":[["17e738a9.e3fbe7","70d442a3.ac9b9c"],["17e738a9.e3fbe7"]]},{"id":"17e738a9.e3fbe7","type":"function","z":"e462b2b1.d5e8f","name":"insertSmokeToDbQuery","func":"const status = msg.data.status == 1\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"sensorSmoke\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=\"INSERT INTO smoke_sensor (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":500,"wires":[["7f6e17b2.5cd938"]]},{"id":"7f6e17b2.5cd938","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"sensorSmokeTable","x":1110,"y":500,"wires":[[]]},{"id":"e1a55b12.76db48","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"","x":760,"y":260,"wires":[[]]},{"id":"e02a34fd.e243c8","type":"Kafka Consumer","z":"e462b2b1.d5e8f","name":"sensorLight","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":1}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":40,"wires":[["6b7e5ad6.76ed24","c531d531.710938"]]},{"id":"6b7e5ad6.76ed24","type":"function","z":"e462b2b1.d5e8f","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["9401043f.165e38"]]},{"id":"9401043f.165e38","type":"join","z":"e462b2b1.d5e8f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":120,"wires":[["ea287e4.acaa98","d2f87490.e47bb8"]]},{"id":"ea287e4.acaa98","type":"function","z":"e462b2b1.d5e8f","name":"setLamp1Status","func":"let isOff = true;\nlet sensorLight1 = msg.payload.sensorLight1;\nlet sensorMotion1 = msg.payload.sensorMotion1;\nif(+sensorLight1.lm < 200 && sensorMotion1.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp1\",\n    status: !isOff,\n    date_time: msg.date\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":80,"wires":[["397895cb.0a98aa"]]},{"id":"d2f87490.e47bb8","type":"function","z":"e462b2b1.d5e8f","name":"setLamp4Status","func":"let isOff = true;\nlet sensorLight4 = msg.payload.sensorLight4;\nlet sensorMotion4 = msg.payload.sensorMotion4;\nif(+sensorLight4.lm < 200 && sensorMotion4.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp4\",\n    status: !isOff,\n    date_time: msg.date\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["397895cb.0a98aa"]]},{"id":"397895cb.0a98aa","type":"function","z":"e462b2b1.d5e8f","name":"insertLampToDbQuery","func":"msg.payload = {...msg}\nmsg.topic=\"INSERT INTO lamp (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":120,"wires":[["3e1e91ab.fdebde"]]},{"id":"3e1e91ab.fdebde","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"lampTable","x":1160,"y":120,"wires":[[]]},{"id":"83102f09.69417","type":"function","z":"e462b2b1.d5e8f","name":"turnOffLampsWhenAlarmOn","func":"const result = JSON.parse(msg.payload)\nconst status = result.data.status\nconst date = result.date\nconst lamps =[\"lamp0\",\"lamp2\",\"lamp3\"];\nlet insertQuery = \"\"\nlet res = \"INSERT INTO lamp(`name`,`status`,`date_time`) VALUES \";\n\nif(status == 1) {\n    for(let idx = 0 ; idx < lamps.length ; idx++) {\n        // msg.payload = {}\n        // msg.payload.name = lamps[idx]\n        // msg.payload.status = false\n        // msg.payload.date_time = date\n        if(idx == lamps.length - 1) {\n            res += `('${lamps[idx]}',false,'${date}');`  \n        }\n        else{\n             res += `('${lamps[idx]}',false,'${date}'),`  \n        }\n    }\n    msg.topic = res\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["365dc917.6ff456"]]},{"id":"365dc917.6ff456","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"lampTable","x":590,"y":420,"wires":[[]]},{"id":"3d2a2911.920116","type":"Kafka Consumer","z":"e462b2b1.d5e8f","name":"sensorTemp","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":3}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":70,"y":1100,"wires":[["d86fcf50.0fe25"]]},{"id":"42b1f094.49785","type":"join","z":"e462b2b1.d5e8f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":1100,"wires":[["9c0e160e.04baf8","cde18647.5cb5a8","67a39db.fbb6564"]]},{"id":"d86fcf50.0fe25","type":"function","z":"e462b2b1.d5e8f","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1100,"wires":[["42b1f094.49785","15dc18da.7778f7"]]},{"id":"9c0e160e.04baf8","type":"function","z":"e462b2b1.d5e8f","name":"setThermostatStatus","func":"let setThermostatOn = true;\nconst date = msg.date\nfor(const sensorTemp in msg.payload){\n    if(msg.payload[sensorTemp].temp > 22){\n        setThermostatOn = false;\n        break\n    }\n}\nmsg.payload = {}\nmsg.payload.name = \"thermostat\";\nmsg.payload.status = true;\nmsg.payload.temp = 27\nmsg.payload.date_time = date\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1100,"wires":[["f43f2160.c9754"]]},{"id":"f43f2160.c9754","type":"switch","z":"e462b2b1.d5e8f","name":"isThermostatOn","property":"payload.status","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":1100,"wires":[["effd451a.5b4048"]]},{"id":"96e7cbfe.16a998","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"thermostatTable","x":1360,"y":1100,"wires":[[]]},{"id":"effd451a.5b4048","type":"function","z":"e462b2b1.d5e8f","name":"insertThemostartToDbQuery","func":"msg.topic=\"INSERT INTO thermostat (`name`, `status`,`temp`, `date_time`) VALUES ( :name , :status , :temp ,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1100,"wires":[["96e7cbfe.16a998"]]},{"id":"15dc18da.7778f7","type":"function","z":"e462b2b1.d5e8f","name":"insertSensorTempToDbQuery","func":"const temp = msg.payload.temp\nconst tempDif = msg.payload.tempDif\nconst name = msg.topic\nconst date_time = msg.date\nmsg.topic = \"INSERT INTO temp_sensor(`name`,`temp`,`temp_dif`,`date_time`) VALUES \" + `('${name}',${temp},${tempDif},'${date_time}');`\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1040,"wires":[["fba8a203.175d"]]},{"id":"fba8a203.175d","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"sensorTemp","x":770,"y":1040,"wires":[[]]},{"id":"cde18647.5cb5a8","type":"function","z":"e462b2b1.d5e8f","name":"turnOnAC","func":"let res = \"INSERT INTO air_condition (`name`,`status`,`temp`,`date_time`) VALUES \";\nlet ACtempON = 24\nlet ACstatusON = true\nlet isAcOn = false\nlet i = 0\nfor(const el in msg.payload){\n    if(msg.payload[el].temp > 29){\n        isAcOn = true\n        if(i == 0){\n            res += `('AC${el.slice(-1)}',${ACstatusON},${ACtempON},'${msg.date}')`\n        }\n        else{\n             res += `,('AC${el.slice(-1)}',${ACstatusON},${ACtempON},'${msg.date}')`\n        }\n        i++;\n    }\n   \n}\nif(isAcOn){\n    msg.topic = res\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1160,"wires":[["261ad221.81c00e"]]},{"id":"261ad221.81c00e","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"insertACToDbQuery","x":880,"y":1160,"wires":[[]]},{"id":"67a39db.fbb6564","type":"function","z":"e462b2b1.d5e8f","name":"checkForSensorTempMalfunction","func":"const date = msg.date;\nlet msgForUser = \"\"\nfor(let el in msg.payload) {\n    let tempDif = msg.payload[el].tempDif\n    if(tempDif > 5) {\n        msgForUser.push(`${el} seems to have a weird behaviour\\n`)\n    }\n}\nif(msgForUser.length > 0) return {msgForUser}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1220,"wires":[["95454c52.15192"]]},{"id":"8dd3fb5b.d82d28","type":"function","z":"e462b2b1.d5e8f","name":"getDateAndTime","func":"const result = JSON.parse(msg.payload)\nconst date_time = result.date\nconst [date,time] = date_time.split(\"-\")\nmsg = {date_time,date,time}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":680,"wires":[["13443d32.c83043","7240a400.7669ac","950077ac.9757c8","ee210603.445508"]]},{"id":"13443d32.c83043","type":"switch","z":"e462b2b1.d5e8f","name":"vacuumHandler","property":"date_time","propertyType":"msg","rules":[{"t":"eq","v":"Mon-10:00","vt":"str"},{"t":"eq","v":"Wed-10:00","vt":"str"},{"t":"eq","v":"Fri-10:00","vt":"str"},{"t":"eq","v":"Mon-12:00","vt":"str"},{"t":"eq","v":"Wed-12:00","vt":"str"},{"t":"eq","v":"Fri-12:00","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":620,"y":580,"wires":[["1d73d3f.7f90f2c"],["1d73d3f.7f90f2c"],["1d73d3f.7f90f2c"],["99d07116.ed203"],["99d07116.ed203"],["99d07116.ed203"]]},{"id":"1d73d3f.7f90f2c","type":"function","z":"e462b2b1.d5e8f","name":"vacuumStart","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO vacuum(`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":560,"wires":[["1464c119.b31d5f"]]},{"id":"99d07116.ed203","type":"function","z":"e462b2b1.d5e8f","name":"vacuumStop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO vacuum(`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":600,"wires":[["1464c119.b31d5f"]]},{"id":"1464c119.b31d5f","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"insertVacuumToDbQuery","x":1070,"y":580,"wires":[[]]},{"id":"7240a400.7669ac","type":"switch","z":"e462b2b1.d5e8f","name":"waterHeaterHandler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"17:00","vt":"str"},{"t":"eq","v":"17:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":680,"wires":[["82106bc8.e663d8"],["3f791d9f.13e222"]]},{"id":"82106bc8.e663d8","type":"function","z":"e462b2b1.d5e8f","name":"waterHeaterStart","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"waterHeater\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO water_heater (`name`,`status`,`date_time`) VALUES (:name,:status,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":660,"wires":[["7c6f6782.902f68"]]},{"id":"3f791d9f.13e222","type":"function","z":"e462b2b1.d5e8f","name":"waterHeaterStop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"waterHeater\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO water_heater (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":700,"wires":[["7c6f6782.902f68"]]},{"id":"7c6f6782.902f68","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"insertWaterHeaterToDbQuery","x":1100,"y":680,"wires":[[]]},{"id":"950077ac.9757c8","type":"switch","z":"e462b2b1.d5e8f","name":"switch0Handler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"03:30","vt":"str"},{"t":"eq","v":"06:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":780,"wires":[["f2086636.dbfca8"],["c5a48d7.987b97"]]},{"id":"f2086636.dbfca8","type":"function","z":"e462b2b1.d5e8f","name":"switch0Start","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch0\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":760,"wires":[["e3e2023b.7cc5e"]]},{"id":"c5a48d7.987b97","type":"function","z":"e462b2b1.d5e8f","name":"switch0Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch0\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":800,"wires":[["e3e2023b.7cc5e"]]},{"id":"e3e2023b.7cc5e","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"insertSwitch0ToDbQuery","x":1070,"y":780,"wires":[[]]},{"id":"ee210603.445508","type":"switch","z":"e462b2b1.d5e8f","name":"switch1Handler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"Mon-07:30","vt":"str"},{"t":"eq","v":"Tue-07:30","vt":"str"},{"t":"eq","v":"Wed-07:30","vt":"str"},{"t":"eq","v":"Thu-07:30","vt":"str"},{"t":"eq","v":"Fri-07:30","vt":"str"},{"t":"eq","v":"Mon-07:45","vt":"str"},{"t":"eq","v":"Tue-07:45","vt":"str"},{"t":"eq","v":"Wed-07:45","vt":"str"},{"t":"eq","v":"Thu-07:45","vt":"str"},{"t":"eq","v":"Fri-07:45","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":640,"y":900,"wires":[["2a33f250.b7ad5e"],["2a33f250.b7ad5e"],["2a33f250.b7ad5e"],["2a33f250.b7ad5e"],["2a33f250.b7ad5e"],["f63a3064.5b122"],["f63a3064.5b122"],["f63a3064.5b122"],["f63a3064.5b122"],["f63a3064.5b122"]]},{"id":"2a33f250.b7ad5e","type":"function","z":"e462b2b1.d5e8f","name":"switch1Start","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch1\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":860,"wires":[["cd423822.c9e628"]]},{"id":"f63a3064.5b122","type":"function","z":"e462b2b1.d5e8f","name":"switch1Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch1\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":940,"wires":[["cd423822.c9e628"]]},{"id":"cd423822.c9e628","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"insertSwitch0ToDbQuery","x":1090,"y":900,"wires":[[]]},{"id":"638392b2.938b5c","type":"function","z":"e462b2b1.d5e8f","name":"insertMotionSensorsToDbQuery","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg.payload = {}\nmsg.payload.name = key\nmsg.payload.status = result.data.status\nmsg.payload.date_time = date\nmsg.topic = \"INSERT INTO motion_sensor(`name`,`status`,`date_time`) VALUES (:name,:status,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":180,"wires":[["e607807c.6c2a3"]]},{"id":"bbad662b.1d8a18","type":"function","z":"e462b2b1.d5e8f","name":"insertToDbQuery","func":"const status = msg.payload.status\nconst date = msg.date\nlet device = msg.topic\nconst tables = {\n    \"sensorMotion\" : \"motion_sensor\",\n    \"alarm\" : \"alarm\",\n    \"sensorMagnet\" : \"magnet_sensor\"\n}\n\nconst table = device == \"alarm\" ? device : device.slice(0,-1);\n\nmsg.payload = {}\nmsg.payload.name = device;\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=`INSERT INTO ${tables[table]}` + \"(`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":240,"wires":[["e1a55b12.76db48"]]},{"id":"e607807c.6c2a3","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"sensorMotionTable","x":630,"y":180,"wires":[[]]},{"id":"c531d531.710938","type":"function","z":"e462b2b1.d5e8f","name":"insertSensorLightsToDbQuery","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg.payload = {}\nmsg.payload.name = key\nmsg.payload.lm = result.data.lm\nmsg.payload.date_time = date\nmsg.topic = \"INSERT INTO light_sensor(`name`,`lm`,`date_time`) VALUES (:name,:lm,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":40,"wires":[["482042d6.e3ec1c"]]},{"id":"482042d6.e3ec1c","type":"mysql","z":"e462b2b1.d5e8f","mydb":"d473ed0.313951","name":"sensorLightsTable","x":630,"y":40,"wires":[[]]},{"id":"7ce21de4.6ab714","type":"chatbot-message","z":"e462b2b1.d5e8f","name":"smokeDetectedMsg","message":[{"message":"[SMOKE DETECTED]\nSmoke has been detected in your house! Call 911."}],"language":"none","x":1060,"y":440,"wires":[["d57d215b.81778"]]},{"id":"70d442a3.ac9b9c","type":"chatbot-conversation","z":"e462b2b1.d5e8f","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":840,"y":440,"wires":[["7ce21de4.6ab714"]]},{"id":"d57d215b.81778","type":"chatbot-telegram-send","z":"e462b2b1.d5e8f","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1270,"y":440,"wires":[]},{"id":"de811ef6.71deb","type":"chatbot-message","z":"e462b2b1.d5e8f","name":"possibleBurglaryMsg","message":[{"message":"[MOTION DETECTED]\nActivity was detected in your house while the alarm is ON. Call 911."}],"language":"none","x":1300,"y":240,"wires":[["b11eb1e3.9f15d"]]},{"id":"9e37952b.f926f8","type":"chatbot-conversation","z":"e462b2b1.d5e8f","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1080,"y":240,"wires":[["de811ef6.71deb"]]},{"id":"b11eb1e3.9f15d","type":"chatbot-telegram-send","z":"e462b2b1.d5e8f","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1510,"y":240,"wires":[]},{"id":"c8e8c48.42efd38","type":"chatbot-message","z":"e462b2b1.d5e8f","name":"possibleMalfunctionMsg","message":[{"message":"[MALFUNCTION DETECTED]\n{{msgForUser}}"}],"language":"none","x":1270,"y":1220,"wires":[["fd5380c9.32c4b"]]},{"id":"95454c52.15192","type":"chatbot-conversation","z":"e462b2b1.d5e8f","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1040,"y":1220,"wires":[["c8e8c48.42efd38"]]},{"id":"fd5380c9.32c4b","type":"chatbot-telegram-send","z":"e462b2b1.d5e8f","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1490,"y":1220,"wires":[]},{"id":"2780eb41.ce3c54","type":"Kafka Broker","name":"broker9092","hosts":[{"host":"localhost","port":9092}],"hostsEnvVar":"","connectTimeout":"100","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false,"useCredentials":false},{"id":"d473ed0.313951","type":"MySQLdatabase","name":"smart-home-db","host":"localhost","port":"3311","db":"smart_home","tz":"","charset":"UTF8"},{"id":"68e7d7e7.53dad8","type":"chatbot-telegram-node","botname":"InsiderBot","usernames":"","token":"5068237183:AAG59tJoISr-ZkxQV6mX_griXOjEWp9gG2Y","providerToken":"","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]