node-red-flow.json
[{"id":"c8d62699.fc1d88","type":"tab","label":"NodeRed SmartHome Project","disabled":false,"info":""},{"id":"e883a895.430d68","type":"Kafka Consumer","z":"c8d62699.fc1d88","name":"sensorMotion","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":2}],"groupId":"sensorMotionGroup","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":240,"wires":[["d36ea62.fb19358","8c142fae.3ced2"]]},{"id":"46bdc533.ee3fec","type":"Kafka Consumer","z":"c8d62699.fc1d88","name":"sensorMagnet","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":4}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":340,"wires":[["8c142fae.3ced2"]]},{"id":"9706de72.dac2d","type":"Kafka Consumer","z":"c8d62699.fc1d88","name":"alarm","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":5}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":70,"y":460,"wires":[["8c142fae.3ced2","c44d75a9.8c4168"]]},{"id":"cdf65c38.cc68a","type":"join","z":"c8d62699.fc1d88","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":510,"y":420,"wires":[["61a82841.334dd8"]]},{"id":"8c142fae.3ced2","type":"function","z":"c8d62699.fc1d88","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":420,"wires":[["cdf65c38.cc68a","49b25522.1bbdcc"]]},{"id":"61a82841.334dd8","type":"function","z":"c8d62699.fc1d88","name":"setSirenStatus","func":"let activatedSiren = false\nconst date = msg.date\nlet alarmOn = msg.payload.alarm.status == 1 \n\nconst rooms = {\n    \"0\": \"Bedroom\",\n    \"1\": \"Living Room\",\n    \"2\": \"Kitchen\",\n    \"3\": \"Bathroom\",\n    \"4\": \"Balcony\"\n}\nconst brokenInto = []\n\nif(alarmOn){\n    for(let device in msg.payload){\n        if(device != \"alarm\" && msg.payload[device].status == 1){\n            activatedSiren = true\n            brokenInto.push(rooms[device.slice(-1)])\n        }\n    }\n}\nmsg = {}\nmsg.rooms = brokenInto\nmsg.date = date\nmsg.activatedSiren = activatedSiren\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":420,"wires":[["482e454b.dc3a7c"]]},{"id":"482e454b.dc3a7c","type":"switch","z":"c8d62699.fc1d88","name":"isSirenOn","property":"activatedSiren","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":420,"wires":[["e6c746b.44dbdb8","15be7953.27c507"],["e6c746b.44dbdb8"]]},{"id":"736b88b6.687748","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"sirenTable","x":1410,"y":420,"wires":[[]]},{"id":"e6c746b.44dbdb8","type":"function","z":"c8d62699.fc1d88","name":"insertSirenToDbQuery","func":"const status = msg.activatedSiren == true\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"siren\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.payload.description = status ? \"Siren active. Possible burglary\" : \"Siren Inactive\"\nmsg.topic = \"INSERT INTO siren (`name`, `status`,`date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":420,"wires":[["736b88b6.687748","e1fc8bfb.8cade8"]]},{"id":"48e98e6c.93aed","type":"Kafka Consumer","z":"c8d62699.fc1d88","name":"sensorSmoke","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":640,"wires":[["2cefd4d5.a72b2c","67692c4a.342fc4"]]},{"id":"2cefd4d5.a72b2c","type":"function","z":"c8d62699.fc1d88","name":"getSmokeSensorStatusDetails","func":"msg =  JSON.parse(msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":640,"wires":[["4afcbe5e.aab11"]]},{"id":"4afcbe5e.aab11","type":"switch","z":"c8d62699.fc1d88","name":"isSmokeDetected","property":"data.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":640,"wires":[["bb20f1ba.ac2f6","f6d50b24.847288"],["bb20f1ba.ac2f6"]]},{"id":"bb20f1ba.ac2f6","type":"function","z":"c8d62699.fc1d88","name":"insertSmokeToDbQuery","func":"const status = msg.data.status == 1\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"sensorSmoke\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.payload.description = status ? \"Smoke detected. Possible fire\" : \"Nothing detected\"\nmsg.topic=\"INSERT INTO smoke_sensor (`name`, `status`, `date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":640,"wires":[["f0a35e03.0e2ee"]]},{"id":"f0a35e03.0e2ee","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"sensorSmokeTable","x":1110,"y":640,"wires":[[]]},{"id":"a16df1d6.3b893","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"","x":800,"y":340,"wires":[[]]},{"id":"9d5f2d99.85f5d","type":"Kafka Consumer","z":"c8d62699.fc1d88","name":"sensorLight","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":1}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":40,"wires":[["d36ea62.fb19358","d93ab405.553098"]]},{"id":"d36ea62.fb19358","type":"function","z":"c8d62699.fc1d88","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["cdee33a.61fafd"]]},{"id":"cdee33a.61fafd","type":"join","z":"c8d62699.fc1d88","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":140,"wires":[["1c6fba3b.f2f766","16fdae0d.8300f2"]]},{"id":"1c6fba3b.f2f766","type":"function","z":"c8d62699.fc1d88","name":"setLamp1Status","func":"let isOff = true;\nlet sensorLight1 = msg.payload.sensorLight1;\nlet sensorMotion1 = msg.payload.sensorMotion1;\nif(+sensorLight1.lm < 200 && sensorMotion1.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp1\",\n    status: !isOff,\n    date_time: msg.date,\n    description: \"Lamp 1 ON, motion detected and lumens under 200\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":100,"wires":[["50ea36b5.9f6558"]]},{"id":"16fdae0d.8300f2","type":"function","z":"c8d62699.fc1d88","name":"setLamp4Status","func":"let isOff = true;\nlet sensorLight4 = msg.payload.sensorLight4;\nlet sensorMotion4 = msg.payload.sensorMotion4;\nif(+sensorLight4.lm < 200 && sensorMotion4.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp4\",\n    status: !isOff,\n    date_time: msg.date,\n    description: \"Lamp 4 ON, motion detected and lumens under 200\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":180,"wires":[["50ea36b5.9f6558"]]},{"id":"50ea36b5.9f6558","type":"function","z":"c8d62699.fc1d88","name":"insertLampToDbQuery","func":"msg.payload = {...msg}\nmsg.topic = \"INSERT INTO lamp (`name`, `status`,`date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":140,"wires":[["400f0c0c.f16044"]]},{"id":"400f0c0c.f16044","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"lampTable","x":1160,"y":140,"wires":[[]]},{"id":"c44d75a9.8c4168","type":"function","z":"c8d62699.fc1d88","name":"turnOffLampsWhenAlarmOn","func":"const result = JSON.parse(msg.payload)\nconst status = result.data.status\nconst date = result.date\nconst lamps =[\"lamp0\",\"lamp2\",\"lamp3\"];\nlet insertQuery = \"\"\nlet description = \"Light off because alarm is armed\"\nlet res = \"INSERT INTO lamp(`name`,`status`,`date_time`, `description`) VALUES \";\n\nif(status == 1) {\n    for(let idx = 0 ; idx < lamps.length ; idx++) {\n        if(idx == lamps.length - 1) res += `('${lamps[idx]}',false,'${date}', '${description}');`;\n        else res += `('${lamps[idx]}',false,'${date}', '${description}'),`;\n    }\n    msg.topic = res\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":520,"wires":[["c5d60883.629058"]]},{"id":"c5d60883.629058","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"lampTable","x":610,"y":520,"wires":[[]]},{"id":"96263d2f.e45bb","type":"Kafka Consumer","z":"c8d62699.fc1d88","name":"sensorTemp","broker":"95b24dcc.633e","regex":false,"topics":[{"topic":"smart-home-v2","offset":0,"partition":3}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":1240,"wires":[["b2ac1c80.622cf"]]},{"id":"6480346f.7bcffc","type":"join","z":"c8d62699.fc1d88","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":1240,"wires":[["318f31d0.1554fe","f51739e9.9fd258","893b576d.de9458"]]},{"id":"b2ac1c80.622cf","type":"function","z":"c8d62699.fc1d88","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1240,"wires":[["6480346f.7bcffc","69bb21fb.aa443"]]},{"id":"318f31d0.1554fe","type":"function","z":"c8d62699.fc1d88","name":"setThermostatStatus","func":"let setThermostatOn = true;\nconst date = msg.date\nfor(const sensorTemp in msg.payload){\n    if(msg.payload[sensorTemp].temp > 22){\n        setThermostatOn = false;\n        break\n    }\n}\nmsg.payload = {}\nmsg.payload.name = \"thermostat\";\nmsg.payload.status = true;\nmsg.payload.temp = 27\nmsg.payload.date_time = date\nmsg.payload.description = \"Thermostat On. Detected temperature below 22\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1240,"wires":[["ee30a0da.39677"]]},{"id":"ee30a0da.39677","type":"switch","z":"c8d62699.fc1d88","name":"isThermostatOn","property":"payload.status","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":1240,"wires":[["152ffcf4.eed643"]]},{"id":"811d68bd.c40f28","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"thermostatTable","x":1440,"y":1240,"wires":[[]]},{"id":"152ffcf4.eed643","type":"function","z":"c8d62699.fc1d88","name":"insertThemostartToDbQuery","func":"msg.topic = \"INSERT INTO thermostat (`name`, `status`,`temp`, `date_time`, `description`) VALUES (:name, :status, :temp, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1240,"wires":[["811d68bd.c40f28","399a318e.205a6e"]]},{"id":"69bb21fb.aa443","type":"function","z":"c8d62699.fc1d88","name":"insertSensorTempToDbQuery","func":"const temp = msg.payload.temp;\nconst tempDif = msg.payload.tempDif;\nconst name = msg.topic;\nconst date_time = msg.date;\nlet description = \"Input from sensor\";\nif(tempDif > 5) {\n    description += \". Weird behaviour sudden change of temp\"\n}\nmsg.topic = \"INSERT INTO temp_sensor(`name`,`temp`,`temp_dif`,`date_time`, `description`) VALUES \" + `('${name}', ${temp}, ${tempDif}, '${date_time}', '${description}');`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1180,"wires":[["68666c2a.7cb874"]]},{"id":"68666c2a.7cb874","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"sensorTemp","x":770,"y":1180,"wires":[[]]},{"id":"f51739e9.9fd258","type":"function","z":"c8d62699.fc1d88","name":"turnOnAC","func":"let res = \"INSERT INTO air_condition (`name`, `status`, `temp`, `date_time`, `description`) VALUES \";\nlet ACtempON = 24\nlet ACstatusON = true\nlet isAcOn = false\nlet i = 0\n\nconst acs = []\n\nfor(const el in msg.payload) {\n    if(msg.payload[el].temp > 29) {\n        msg.description = `AC On. Detected temperature ${msg.payload[el].temp} which is above 29` \n        isAcOn = true\n        acs.push(el.slice(-1))\n        if(i == 0) {\n            res += `('AC${el.slice(-1)}',${ACstatusON}, ${ACtempON}, '${msg.date}', '${msg.description}')`\n        }\n        else{\n            res += `,('AC${el.slice(-1)}',${ACstatusON}, ${ACtempON}, '${msg.date}', '${msg.description}')`\n        }\n        i++;\n    }\n   \n}\n\nif(isAcOn){\n    msg.acs = acs\n    msg.topic = res\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1300,"wires":[["ca9f96b0.127c38","d803bbff.842f28"]]},{"id":"ca9f96b0.127c38","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"insertACToDbQuery","x":960,"y":1300,"wires":[[]]},{"id":"893b576d.de9458","type":"function","z":"c8d62699.fc1d88","name":"checkForSensorTempMalfunction","func":"const date = msg.date;\nlet msgForUser = \"\"\nfor(let el in msg.payload) {\n    let tempDif = msg.payload[el].tempDif\n    if(tempDif > 5) {\n        msgForUser+= `${el} seems to have a weird behaviour\\n`\n    }\n}\nif(msgForUser.length > 0) return {msgForUser , date}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1420,"wires":[["42c8e159.69e8"]]},{"id":"67692c4a.342fc4","type":"function","z":"c8d62699.fc1d88","name":"getDateAndTime","func":"const result = JSON.parse(msg.payload)\nconst date_time = result.date\nconst day = {\n    0: \"Sun\",\n    1: \"Mon\",\n    2: \"Tue\",\n    3: \"Wed\",\n    4: \"Thu\",\n    5: \"Fri\",\n    6: \"Sat\"\n}\n\nconst dateObj = new Date(date_time)\nconst minutes = dateObj.getMinutes() < 10 ? \"0\" + dateObj.getMinutes() : dateObj.getMinutes()\nconst hours = dateObj.getHours() < 10 ? \"0\" + dateObj.getHours() : dateObj.getHours()\n\nconst date_timeFormatted = day[dateObj.getDay()] + \"-\" + hours + \":\" + minutes\nconst [date,time] = date_timeFormatted.split(\"-\")\n\n\nmsg = {date_time, date_timeFormatted, date, time}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":820,"wires":[["77be4734.60d7f8","eae6ae92.73c92","ac159851.effa88","fe7ebe29.9ff94"]]},{"id":"77be4734.60d7f8","type":"switch","z":"c8d62699.fc1d88","name":"vacuumHandler","property":"date_timeFormatted","propertyType":"msg","rules":[{"t":"eq","v":"Mon-10:00","vt":"str"},{"t":"eq","v":"Wed-10:00","vt":"str"},{"t":"eq","v":"Fri-10:00","vt":"str"},{"t":"eq","v":"Mon-12:00","vt":"str"},{"t":"eq","v":"Wed-12:00","vt":"str"},{"t":"eq","v":"Fri-12:00","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":620,"y":720,"wires":[["c834efb1.fee48"],["c834efb1.fee48"],["c834efb1.fee48"],["9e12b043.927bb"],["9e12b043.927bb"],["9e12b043.927bb"]]},{"id":"c834efb1.fee48","type":"function","z":"c8d62699.fc1d88","name":"vacuumStart","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.payload.description = \"Vacuum start. Routine cleanup\"\nmsg.topic = \"INSERT INTO vacuum(`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":700,"wires":[["3ddb18d8.bcfd08","f366f454.a61e98"]]},{"id":"9e12b043.927bb","type":"function","z":"c8d62699.fc1d88","name":"vacuumStop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.payload.description = \"Vacuum stop. Routine cleanup\"\nmsg.topic = \"INSERT INTO vacuum(`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":740,"wires":[["3ddb18d8.bcfd08","f366f454.a61e98"]]},{"id":"3ddb18d8.bcfd08","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"insertVacuumToDbQuery","x":1090,"y":740,"wires":[[]]},{"id":"eae6ae92.73c92","type":"switch","z":"c8d62699.fc1d88","name":"waterHeaterHandler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"17:00","vt":"str"},{"t":"eq","v":"17:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":820,"wires":[["ed28bb4.cfda148"],["1f7809f7.794586"]]},{"id":"ed28bb4.cfda148","type":"function","z":"c8d62699.fc1d88","name":"waterHeaterStart","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"waterHeater\";\nmsg.payload.status = true;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Water Heater on. Routine boil water\";\nmsg.topic = \"INSERT INTO water_heater (`name`, `status`, `date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":800,"wires":[["62392ad9.80ad54","3ce46fdf.5de3b"]]},{"id":"1f7809f7.794586","type":"function","z":"c8d62699.fc1d88","name":"waterHeaterStop","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"waterHeater\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Water Heater off. Routine boil water\";\nmsg.topic = \"INSERT INTO water_heater (`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":840,"wires":[["62392ad9.80ad54","3ce46fdf.5de3b"]]},{"id":"62392ad9.80ad54","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"insertWaterHeaterToDbQuery","x":1190,"y":840,"wires":[[]]},{"id":"ac159851.effa88","type":"switch","z":"c8d62699.fc1d88","name":"switch0Handler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"03:30","vt":"str"},{"t":"eq","v":"06:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":920,"wires":[["b832f0ec.8417c"],["ff59f1d6.fdccb"]]},{"id":"b832f0ec.8417c","type":"function","z":"c8d62699.fc1d88","name":"switch0Start","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"switch0\";\nmsg.payload.status = true;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Switch0 On. Routine charge phone\"\nmsg.topic = \"INSERT INTO switch (`name`, `status`, `date_time`,`description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":900,"wires":[["15e806a5.f06019","97bce2b4.d5b9c"]]},{"id":"ff59f1d6.fdccb","type":"function","z":"c8d62699.fc1d88","name":"switch0Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch0\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Switch0 Off. Routine charge phone\"\nmsg.topic = \"INSERT INTO switch (`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":940,"wires":[["15e806a5.f06019","97bce2b4.d5b9c"]]},{"id":"15e806a5.f06019","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"insertSwitch0ToDbQuery","x":1130,"y":940,"wires":[[]]},{"id":"fe7ebe29.9ff94","type":"switch","z":"c8d62699.fc1d88","name":"switch1Handler","property":"date_timeFormatted","propertyType":"msg","rules":[{"t":"eq","v":"Mon-07:30","vt":"str"},{"t":"eq","v":"Tue-07:30","vt":"str"},{"t":"eq","v":"Wed-07:30","vt":"str"},{"t":"eq","v":"Thu-07:30","vt":"str"},{"t":"eq","v":"Fri-07:30","vt":"str"},{"t":"eq","v":"Mon-07:45","vt":"str"},{"t":"eq","v":"Tue-07:45","vt":"str"},{"t":"eq","v":"Wed-07:45","vt":"str"},{"t":"eq","v":"Thu-07:45","vt":"str"},{"t":"eq","v":"Fri-07:45","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":640,"y":1040,"wires":[["b034dcb7.93eeb"],["b034dcb7.93eeb"],["b034dcb7.93eeb"],["b034dcb7.93eeb"],["b034dcb7.93eeb"],["540d9635.3b99a8"],["540d9635.3b99a8"],["540d9635.3b99a8"],["540d9635.3b99a8"],["540d9635.3b99a8"]]},{"id":"b034dcb7.93eeb","type":"function","z":"c8d62699.fc1d88","name":"switch1Start","func":"const date_time = msg.date_time;\nmsg.payload = {};\nmsg.payload.name = \"switch1\";\nmsg.payload.status = true;\nmsg.payload.date_time = date_time;\nmsg.payload.description = \"Switch1 On. Routine morning coffee\"\nmsg.topic = \"INSERT INTO switch (`name`, `status`, `date_time`, `description`) VALUES(:name, :status, :date_time, :description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1000,"wires":[["bee0aab5.f443c8","42ec9fb4.09513"]]},{"id":"540d9635.3b99a8","type":"function","z":"c8d62699.fc1d88","name":"switch1Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch1\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.payload.description = \"Switch1 Off. Routine morning coffee\"\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`,`description`) VALUES(:name,:status,:date_time,:description)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1080,"wires":[["bee0aab5.f443c8","42ec9fb4.09513"]]},{"id":"bee0aab5.f443c8","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"insertSwitch1ToDbQuery","x":1130,"y":1080,"wires":[[]]},{"id":"49b25522.1bbdcc","type":"function","z":"c8d62699.fc1d88","name":"insertToDbQuery","func":"const status = msg.payload.status\nconst date = msg.date\nlet device = msg.topic\nconst tables = {\n    \"sensorMotion\" : \"motion_sensor\",\n    \"alarm\" : \"alarm\",\n    \"sensorMagnet\" : \"magnet_sensor\"\n}\n\nlet descr;\nif (device == \"alarm\") descr = status ? \"Alarm Armed\" : \"Alarm Disarmed\";\n\nconst descriptions = {\n    \"sensorMotion\": \"Input from sensor\",\n    \"alarm\": descr,\n    \"sensorMagnet\": \"Input from sensor\"\n}\n\nconst table = device == \"alarm\" ? device : device.slice(0,-1);\n\nmsg.payload = {}\nmsg.payload.name = device;\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.payload.description = descriptions[table]\nmsg.topic = `INSERT INTO ${tables[table]}` + \"(`name`, `status`, `date_time`, `description`) VALUES (:name, :status, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[["a16df1d6.3b893"]]},{"id":"d93ab405.553098","type":"function","z":"c8d62699.fc1d88","name":"insertSensorLightsToDbQuery","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg.payload = {}\nmsg.payload.name = key\nmsg.payload.lm = result.data.lm\nmsg.payload.date_time = date\nmsg.payload.description = \"Input from sensor\"\nmsg.topic = \"INSERT INTO light_sensor(`name`, `lm`, `date_time`, `description`) VALUES (:name, :lm, :date_time, :description);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":40,"wires":[["a134edd4.82552"]]},{"id":"a134edd4.82552","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"sensorLightsTable","x":670,"y":40,"wires":[[]]},{"id":"c5dc777b.de4888","type":"chatbot-message","z":"c8d62699.fc1d88","name":"smokeDetectedMsg","message":[{"message":"[SMOKE DETECTED - {{date}}] \nSmoke has been detected in your house! Call 911."}],"language":"none","x":1080,"y":580,"wires":[["cbc0c80.5e17238"]]},{"id":"f6d50b24.847288","type":"chatbot-conversation","z":"c8d62699.fc1d88","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":860,"y":580,"wires":[["c5dc777b.de4888"]]},{"id":"cbc0c80.5e17238","type":"chatbot-telegram-send","z":"c8d62699.fc1d88","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1310,"y":580,"wires":[]},{"id":"b01cea95.3b0508","type":"chatbot-message","z":"c8d62699.fc1d88","name":"possibleBurglaryMsg","message":[{"message":"[MOTION DETECTED - {{date}}]\nActivity was detected at {{rooms}} while the alarm is ON. Call 911."}],"language":"none","x":1300,"y":340,"wires":[["7c1c9bb4.0098a4"]]},{"id":"15be7953.27c507","type":"chatbot-conversation","z":"c8d62699.fc1d88","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1080,"y":340,"wires":[["b01cea95.3b0508"]]},{"id":"7c1c9bb4.0098a4","type":"chatbot-telegram-send","z":"c8d62699.fc1d88","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1510,"y":340,"wires":[]},{"id":"928255f6.ae8558","type":"chatbot-message","z":"c8d62699.fc1d88","name":"possibleMalfunctionMsg","message":[{"message":"[MALFUNCTION DETECTED - {{date}}]\n{{msgForUser}}"}],"language":"none","x":1310,"y":1420,"wires":[["39e03dd4.1be252"]]},{"id":"42c8e159.69e8","type":"chatbot-conversation","z":"c8d62699.fc1d88","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1060,"y":1420,"wires":[["928255f6.ae8558"]]},{"id":"39e03dd4.1be252","type":"chatbot-telegram-send","z":"c8d62699.fc1d88","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1550,"y":1420,"wires":[]},{"id":"3729332d.2e7e9c","type":"Kafka Producer","z":"c8d62699.fc1d88","name":"produceSirenEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"siren","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1640,"y":500,"wires":[]},{"id":"e1fc8bfb.8cade8","type":"function","z":"c8d62699.fc1d88","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":500,"wires":[["3729332d.2e7e9c"]]},{"id":"399a318e.205a6e","type":"function","z":"c8d62699.fc1d88","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":1200,"wires":[["d81dc85e.e74278"]]},{"id":"d81dc85e.e74278","type":"Kafka Producer","z":"c8d62699.fc1d88","name":"produceThermostatEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"thermostat","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1700,"y":1200,"wires":[]},{"id":"16eb2fc4.26d4e","type":"chatbot-telegram-receive","z":"c8d62699.fc1d88","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","x":90,"y":1640,"wires":[["489b807b.45739","8038df4a.3fc71","60f3270.46cebd8","a2232a36.40da68","6c4d095b.bf0148","83887398.f4c0a","f3c16c0a.bd769","f78c214.480fbe","928e2a32.ed8018"]]},{"id":"489b807b.45739","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/alarm","x":370,"y":1660,"wires":[["a8c633ed.c4a0c"]]},{"id":"a8c633ed.c4a0c","type":"function","z":"c8d62699.fc1d88","name":"getLatestAlarmStatusDbQuery","func":"msg.topic = \"SELECT status, date_time FROM alarm ORDER BY date_time DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1660,"wires":[["88f95d2.9c1cea"]]},{"id":"88f95d2.9c1cea","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"alarm","x":830,"y":1660,"wires":[["2c68a719.163958"]]},{"id":"2c68a719.163958","type":"function","z":"c8d62699.fc1d88","name":"createAlarmStatusMsg","func":"const status = msg.payload[0].status ? \"ON\" : \"OFF\"\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: Alarm status is ${status}`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1660,"wires":[["6e2d65f9.b33c4c"]]},{"id":"8038df4a.3fc71","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/tempBedroom","x":380,"y":1600,"wires":[["35f10d34.0c55c2"]]},{"id":"35f10d34.0c55c2","type":"function","z":"c8d62699.fc1d88","name":"getLatestBedroomTempDbQuery","func":"msg.topic = \"SELECT temp, date_time FROM temp_sensor WHERE name = 'sensorTemp0' ORDER BY date_time DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1600,"wires":[["ed3d177.25dfee8"]]},{"id":"ed3d177.25dfee8","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"sensorTemp","x":850,"y":1600,"wires":[["77196346.3a772c"]]},{"id":"77196346.3a772c","type":"function","z":"c8d62699.fc1d88","name":"createTempBedroomMsg","func":"const temp = msg.payload[0].temp\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: Bedroom temperature is ${temp} °C`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1600,"wires":[["6e2d65f9.b33c4c"]]},{"id":"e5a4fb04.4c2fe8","type":"chatbot-message","z":"c8d62699.fc1d88","name":"sendMsg","message":[{"message":"{{message}}"}],"language":"none","x":1540,"y":1600,"wires":[["5f8421a8.bc70f"]]},{"id":"6e2d65f9.b33c4c","type":"chatbot-conversation","z":"c8d62699.fc1d88","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":1360,"y":1600,"wires":[["e5a4fb04.4c2fe8"]]},{"id":"5f8421a8.bc70f","type":"chatbot-telegram-send","z":"c8d62699.fc1d88","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1730,"y":1600,"wires":[]},{"id":"60f3270.46cebd8","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/tempLivingRoom","x":390,"y":1540,"wires":[["ac1c8deb.83494"]]},{"id":"ac1c8deb.83494","type":"function","z":"c8d62699.fc1d88","name":"getLatestLivingRoomTempDbQuery","func":"msg.topic = \"SELECT temp, date_time FROM temp_sensor WHERE name = 'sensorTemp1' ORDER BY date_time DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1540,"wires":[["ff7e4eaa.dbc9c"]]},{"id":"ff7e4eaa.dbc9c","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"sensorTemp","x":870,"y":1540,"wires":[["47ac462a.55ad78"]]},{"id":"47ac462a.55ad78","type":"function","z":"c8d62699.fc1d88","name":"createTempLivingRoomMsg","func":"const temp = msg.payload[0].temp\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: Living Room temperature is ${temp} °C`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1540,"wires":[["6e2d65f9.b33c4c"]]},{"id":"a2232a36.40da68","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/help","x":370,"y":1720,"wires":[["443cd544.235a8c"]]},{"id":"443cd544.235a8c","type":"chatbot-conversation","z":"c8d62699.fc1d88","name":"telegramConversation","botDevelopment":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","chatId":"-715115497","userId":"","transport":"telegram","store":"","x":560,"y":1720,"wires":[["30bfb9ae.0fabc6"]]},{"id":"30bfb9ae.0fabc6","type":"chatbot-message","z":"c8d62699.fc1d88","name":"sendMsg","message":[{"message":"<-------------  Available System Commands  ------------->\n/help: Display this help panel\n/alarm: Get latest alarm status\n/tempLivingRoom: Get latest Living Room temperature\n/tempBedroom: Get latest Bedroom temperature\n/history: Displays the burglary attemps caught by sensors and alarm\n/errors: Display detected device malfunctions\n/healthcheck: Check the smart-home-system status"}],"language":"none","x":740,"y":1720,"wires":[["f167770b.d6dbd8"]]},{"id":"f167770b.d6dbd8","type":"chatbot-telegram-send","z":"c8d62699.fc1d88","bot":"68e7d7e7.53dad8","botProduction":"68e7d7e7.53dad8","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":910,"y":1720,"wires":[]},{"id":"6c4d095b.bf0148","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/errors","x":350,"y":1780,"wires":[["ab23b70.74eae48"]]},{"id":"f80be0ca.4b944","type":"function","z":"c8d62699.fc1d88","name":"gerErrorsMsg","func":"const device = `The temperature sensor in the ${msg.payload[0].name.slice(-1) == 1 ? \"Living Room\" : \"Bedroom\"} has shown weird behaviour`\nconst date_time = msg.payload[0].date_time\n\nconst dateFormatted = new Date(date_time).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date_time).toLocaleTimeString('en-GB')\n\nconst message = `[${dateFormatted}]: ${device}`\nreturn { message }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1780,"wires":[["6e2d65f9.b33c4c"]]},{"id":"45064ba3.3cca04","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"device-errors","x":830,"y":1780,"wires":[["f80be0ca.4b944"]]},{"id":"ab23b70.74eae48","type":"function","z":"c8d62699.fc1d88","name":"getErrorsDbQuery","func":"msg.topic = \"SELECT name,date_time FROM temp_sensor WHERE temp_dif > 5;\"\n\nreturn msg;\n// message = `Alarm status is ${}`\n\n// return { msg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1780,"wires":[["45064ba3.3cca04"]]},{"id":"83887398.f4c0a","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/history","x":360,"y":1860,"wires":[["c7323a9c.493b68"]]},{"id":"c7323a9c.493b68","type":"function","z":"c8d62699.fc1d88","name":"getBurglaryAttemptsDbQuery","func":"msg = {}\n\nmsg.topic =`    SELECT date_time\n                FROM\n                (SELECT DISTINCT a.date_time \n                FROM alarm a\n                LEFT JOIN motion_sensor ms \n                ON a.date_time = ms.date_time \n                WHERE a.status = 1 AND ms.status = 1) AS x\n                LEFT JOIN \n                (\n                SELECT DISTINCT  a.date_time as date_time2\n                FROM alarm a\n                LEFT JOIN magnet_sensor ms \n                ON a.date_time = ms.date_time \n                WHERE a.status = 1 AND ms.status = 1) AS y\n                ON x.date_time = y.date_time2\n                `\n\nreturn msg;\n// message = `Alarm status is ${}`\n\n// return { msg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1860,"wires":[["9fd1107c.746b9"]]},{"id":"66e96445.3f34ec","type":"function","z":"c8d62699.fc1d88","name":"getBurglariesMsg","func":"const formatDate = (date) =>{\n    return  new Date(date).toLocaleDateString(\"fr-CA\") + \" \" + new Date(date).toLocaleTimeString('en-GB')\n}\n\n\nconst arr = []\nfor(let i=0; i < msg.payload.length ; i++){\n    arr.push(formatDate(msg.payload[i].date_time))\n}\n\nconst message = `Burglary Attempts History : ${[...arr]}`\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1860,"wires":[["6e2d65f9.b33c4c"]]},{"id":"9fd1107c.746b9","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"device-errors","x":870,"y":1860,"wires":[["66e96445.3f34ec"]]},{"id":"69489b21.77dea4","type":"http request","z":"c8d62699.fc1d88","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8765/healthcheck/serverStatus","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1960,"wires":[["ed170cef.50566"]]},{"id":"f3c16c0a.bd769","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/healthcheck","x":370,"y":1960,"wires":[["69489b21.77dea4"]]},{"id":"ed170cef.50566","type":"function","z":"c8d62699.fc1d88","name":"getExpressServerStatus","func":"const status = msg.statusCode == 200 ? \"UP\" : \"DOWN\"\nconst message = `Express Server: Status -> ${status}`\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1960,"wires":[["6e2d65f9.b33c4c"]]},{"id":"ebc409ea.3908a8","type":"http request","z":"c8d62699.fc1d88","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":2020,"wires":[["84b6aac0.8f7018"]]},{"id":"f78c214.480fbe","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/healthcheck","x":370,"y":2020,"wires":[["ebc409ea.3908a8"]]},{"id":"84b6aac0.8f7018","type":"function","z":"c8d62699.fc1d88","name":"getGrafanaServerStatus","func":"const status = msg.statusCode\nconst message = `Grafana Server: Status -> ${status == 200 ? \"UP\" : \"DOWN\"}`\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":2020,"wires":[["6e2d65f9.b33c4c"]]},{"id":"928e2a32.ed8018","type":"chatbot-command","z":"c8d62699.fc1d88","name":"","command":"/healthcheck","x":370,"y":2080,"wires":[["fee26835.422ec8"]]},{"id":"3fefe854.6ed748","type":"function","z":"c8d62699.fc1d88","name":"getMysqlServerStatus","func":"let message = \"MySQL Server: Status -> \" \nif(msg.error) {\n    message += \"DOWN\"\n}\nelse message+=\"UP\"\nreturn {message}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":2080,"wires":[["6e2d65f9.b33c4c"]]},{"id":"dbad7aed.be2ee8","type":"mysql","z":"c8d62699.fc1d88","mydb":"37a47cd6.48cda4","name":"test-connection","x":780,"y":2080,"wires":[["3fefe854.6ed748"]]},{"id":"fee26835.422ec8","type":"function","z":"c8d62699.fc1d88","name":"testConnDbQuery","func":"msg.topic = \"SELECT * FROM alarm;\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":2080,"wires":[["dbad7aed.be2ee8"]]},{"id":"cdd03bd1.70a6e8","type":"catch","z":"c8d62699.fc1d88","name":"handleECONNREFUSED","scope":["dbad7aed.be2ee8"],"uncaught":false,"x":810,"y":2140,"wires":[["3fefe854.6ed748"]]},{"id":"3ce46fdf.5de3b","type":"function","z":"c8d62699.fc1d88","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":800,"wires":[["2c79253b.9898da"]]},{"id":"2c79253b.9898da","type":"Kafka Producer","z":"c8d62699.fc1d88","name":"produceWaterHeaterEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"water_heater","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1440,"y":800,"wires":[]},{"id":"97bce2b4.d5b9c","type":"function","z":"c8d62699.fc1d88","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":900,"wires":[["673ad126.11918"]]},{"id":"673ad126.11918","type":"Kafka Producer","z":"c8d62699.fc1d88","name":"produceSwitch0EventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"switch","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1330,"y":900,"wires":[]},{"id":"42ec9fb4.09513","type":"function","z":"c8d62699.fc1d88","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1000,"wires":[["88cfff37.35f86"]]},{"id":"88cfff37.35f86","type":"Kafka Producer","z":"c8d62699.fc1d88","name":"produceSwitch1EventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"switch","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1330,"y":1000,"wires":[]},{"id":"f366f454.a61e98","type":"function","z":"c8d62699.fc1d88","name":"formatForKafka","func":"const result = msg.payload\nmsg = {}\nmsg.payload = JSON.stringify(result)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":700,"wires":[["6fd27f7c.98608"]]},{"id":"6fd27f7c.98608","type":"Kafka Producer","z":"c8d62699.fc1d88","name":"produceVacuumEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"vacuum","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1290,"y":700,"wires":[]},{"id":"d803bbff.842f28","type":"function","z":"c8d62699.fc1d88","name":"formatForKafka","func":"const acRooms = {\n    0 : \"Bedroom\",\n    1: \"Living Room\"\n}\nlet res = \"\"\nfor(let i = 0 ; i < msg.acs.length; i++){\n    if(i == 0) {\n        res += `${acRooms[msg.acs[i]]} AC `\n    }\n    else{\n        res += `and ${acRooms[msg.acs[i]]} AC `\n    }\n}\n\nmsg.acs.length > 1 ? res+=\"are \" : res+=\"is\"\n\nlet desc = msg.description\ndesc = msg.description.split(\".\")[1]\n\nres+=` ON. ${desc}`\nconst name = {name: \"AC\"}\nconst date = {date:msg.date}\nconst description = {description : res}\nconst combined = Object.assign(name,date,description)\nmsg = {}\nmsg.payload = JSON.stringify(combined)\nmsg.topic = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1360,"wires":[["694a077.c080df8"]]},{"id":"694a077.c080df8","type":"Kafka Producer","z":"c8d62699.fc1d88","name":"produceACEventsToKafka","broker":"95b24dcc.633e","topic":"general-events","topicSlash2dot":false,"requireAcks":1,"ackTimeoutMs":100,"partitionerType":"1","key":"aircondition","partition":0,"attributes":0,"connectionType":"Producer","convertFromJson":false,"x":1260,"y":1360,"wires":[]},{"id":"95b24dcc.633e","type":"Kafka Broker","name":"broker9092","hosts":[{"host":"localhost","port":9092}],"hostsEnvVar":"","connectTimeout":"100","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false,"useCredentials":false},{"id":"37a47cd6.48cda4","type":"MySQLdatabase","name":"smart-home-db","host":"localhost","port":"3311","db":"smart_home","tz":"","charset":"UTF8"},{"id":"68e7d7e7.53dad8","type":"chatbot-telegram-node","botname":"InsiderBot","usernames":"","token":"5068237183:AAG59tJoISr-ZkxQV6mX_griXOjEWp9gG2Y","providerToken":"","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]