node-red-flows-completed-scenarios.json
[{"id":"f25e6545.fb6a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c04fe6a5.631558","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorMotion","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":2}],"groupId":"sensorMotionGroup","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":220,"wires":[["21138630.5f87ea","52b0362d.b4f6d8","4bf1c08e.ad3fc"]]},{"id":"fd66be6a.fd506","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorMagnet","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":4}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":300,"wires":[["4bf1c08e.ad3fc"]]},{"id":"6a81b568.786bcc","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"alarm","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":5}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":70,"y":420,"wires":[["4bf1c08e.ad3fc","85a793cb.c9159"]]},{"id":"9fbe1886.f5c4e8","type":"join","z":"f25e6545.fb6a48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530,"y":300,"wires":[["249b9449.d5385c"]]},{"id":"4bf1c08e.ad3fc","type":"function","z":"f25e6545.fb6a48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":320,"wires":[["9fbe1886.f5c4e8","bac8fa11.b01848"]]},{"id":"249b9449.d5385c","type":"function","z":"f25e6545.fb6a48","name":"setSirenStatus","func":"let activatedSiren = false\nconst date = msg.date\nlet alarmOn = msg.payload.alarm.status == 1 \nif(alarmOn){\n    for(let device in msg.payload){\n        if(device != \"alarm\" && msg.payload[device].status == 1){\n            activatedSiren = true\n        }\n    }\n}\nmsg = {}\nmsg.date= date\nmsg.activatedSiren = activatedSiren\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["68b1cdbc.a1f374"]]},{"id":"68b1cdbc.a1f374","type":"switch","z":"f25e6545.fb6a48","name":"isSirenOn","property":"activatedSiren","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":320,"wires":[["338418c8.423078"],["338418c8.423078"]]},{"id":"ba187b38.1b3f68","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"sirenTable","x":1390,"y":320,"wires":[[]]},{"id":"338418c8.423078","type":"function","z":"f25e6545.fb6a48","name":"insertSirenToDbQuery","func":"const status = msg.activatedSiren == true\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"siren\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=\"INSERT INTO siren (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":320,"wires":[["ba187b38.1b3f68"]]},{"id":"ff9a811f.84d82","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorSmoke","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":500,"wires":[["253fd001.b7f85","4a6c57f5.8f25b8"]]},{"id":"253fd001.b7f85","type":"function","z":"f25e6545.fb6a48","name":"getSmokeSensorStatusDetails","func":"msg =  JSON.parse(msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":500,"wires":[["c85ccbf0.358ff8"]]},{"id":"c85ccbf0.358ff8","type":"switch","z":"f25e6545.fb6a48","name":"isSmokeDetected","property":"data.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":500,"wires":[["d4a841f0.e3f27","267d3c1b.b21424"],["267d3c1b.b21424"]]},{"id":"d4a841f0.e3f27","type":"debug","z":"f25e6545.fb6a48","name":"TODO BOT","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":440,"wires":[]},{"id":"267d3c1b.b21424","type":"function","z":"f25e6545.fb6a48","name":"insertSmokeToDbQuery","func":"const status = msg.data.status == 1\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"sensorSmoke\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=\"INSERT INTO smoke_sensor (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":500,"wires":[["7be3f6f9.61e628"]]},{"id":"7be3f6f9.61e628","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"sensorSmokeTable","x":1110,"y":500,"wires":[[]]},{"id":"79e7d664.0e5438","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"","x":760,"y":260,"wires":[[]]},{"id":"ad82109a.50684","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorLight","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":1}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":40,"wires":[["21138630.5f87ea","1c931fc3.a6fff"]]},{"id":"21138630.5f87ea","type":"function","z":"f25e6545.fb6a48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["1fb6f386.ef879c"]]},{"id":"1fb6f386.ef879c","type":"join","z":"f25e6545.fb6a48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":120,"wires":[["cb169ba8.975158","867c324e.85191"]]},{"id":"cb169ba8.975158","type":"function","z":"f25e6545.fb6a48","name":"setLamp1Status","func":"let isOff = true;\nlet sensorLight1 = msg.payload.sensorLight1;\nlet sensorMotion1 = msg.payload.sensorMotion1;\nif(+sensorLight1.lm < 200 && sensorMotion1.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp1\",\n    status: !isOff,\n    date_time: msg.date\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":80,"wires":[["bd4821c6.8f071"]]},{"id":"867c324e.85191","type":"function","z":"f25e6545.fb6a48","name":"setLamp4Status","func":"let isOff = true;\nlet sensorLight4 = msg.payload.sensorLight4;\nlet sensorMotion4 = msg.payload.sensorMotion4;\nif(+sensorLight4.lm < 200 && sensorMotion4.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp4\",\n    status: !isOff,\n    date_time: msg.date\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["bd4821c6.8f071"]]},{"id":"bd4821c6.8f071","type":"function","z":"f25e6545.fb6a48","name":"insertLampToDbQuery","func":"msg.payload = {...msg}\nmsg.topic=\"INSERT INTO lamp (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":120,"wires":[["df63a028.43904"]]},{"id":"df63a028.43904","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"lampTable","x":1160,"y":120,"wires":[[]]},{"id":"85a793cb.c9159","type":"function","z":"f25e6545.fb6a48","name":"turnOffLampsWhenAlarmOn","func":"const result = JSON.parse(msg.payload)\nconst status = result.data.status\nconst date = result.date\nconst lamps =[\"lamp0\",\"lamp2\",\"lamp3\"];\nlet insertQuery = \"\"\nlet res = \"INSERT INTO lamp(`name`,`status`,`date_time`) VALUES \";\n\nif(status == 1) {\n    for(let idx = 0 ; idx < lamps.length ; idx++) {\n        // msg.payload = {}\n        // msg.payload.name = lamps[idx]\n        // msg.payload.status = false\n        // msg.payload.date_time = date\n        if(idx == lamps.length - 1) {\n            res += `('${lamps[idx]}',false,'${date}');`  \n        }\n        else{\n             res += `('${lamps[idx]}',false,'${date}'),`  \n        }\n    }\n    msg.topic = res\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["bf252683.3a58a8"]]},{"id":"bf252683.3a58a8","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"lampTable","x":590,"y":420,"wires":[[]]},{"id":"bba0b956.23cd28","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorTemp","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":3}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":110,"y":1100,"wires":[["4e4a4442.bbc10c"]]},{"id":"7c77f5ec.0bc30c","type":"join","z":"f25e6545.fb6a48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":1100,"wires":[["e7b42e5f.18aaf","edb812ba.3092e","48ba51d3.5ec5d"]]},{"id":"4e4a4442.bbc10c","type":"function","z":"f25e6545.fb6a48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1100,"wires":[["7c77f5ec.0bc30c","bbbc6780.1b9d68"]]},{"id":"e7b42e5f.18aaf","type":"function","z":"f25e6545.fb6a48","name":"setThermostatStatus","func":"let setThermostatOn = true;\nconst date = msg.date\nfor(const sensorTemp in msg.payload){\n    if(msg.payload[sensorTemp].temp > 22){\n        setThermostatOn = false;\n        break\n    }\n}\nmsg.payload = {}\nmsg.payload.name = \"thermostat\";\nmsg.payload.status = true;\nmsg.payload.temp = 27\nmsg.payload.date_time = date\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1100,"wires":[["24ddf92b.3d7146"]]},{"id":"24ddf92b.3d7146","type":"switch","z":"f25e6545.fb6a48","name":"isThermostatOn","property":"payload.status","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":1100,"wires":[["64a34f7.fb433b"]]},{"id":"b99b37a1.eb01d8","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"thermostatTable","x":1360,"y":1100,"wires":[[]]},{"id":"64a34f7.fb433b","type":"function","z":"f25e6545.fb6a48","name":"insertThemostartToDbQuery","func":"msg.topic=\"INSERT INTO thermostat (`name`, `status`,`temp`, `date_time`) VALUES ( :name , :status , :temp ,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1100,"wires":[["b99b37a1.eb01d8"]]},{"id":"bbbc6780.1b9d68","type":"function","z":"f25e6545.fb6a48","name":"insertSensorTempToDbQuery","func":"const temp = msg.payload.temp\nconst tempDif = msg.payload.tempDif\nconst name = msg.topic\nconst date_time = msg.date\nmsg.topic = \"INSERT INTO temp_sensor(`name`,`temp`,`temp_dif`,`date_time`) VALUES \" + `('${name}',${temp},${tempDif},'${date_time}');`\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1040,"wires":[["482d61ea.868f"]]},{"id":"482d61ea.868f","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"sensorTemp","x":770,"y":1040,"wires":[[]]},{"id":"edb812ba.3092e","type":"function","z":"f25e6545.fb6a48","name":"turnOnAC","func":"let res = \"INSERT INTO air_condition (`name`,`status`,`temp`,`date_time`) VALUES \";\nlet ACtempON = 24\nlet ACstatusON = true\nlet isAcOn = false\nlet i = 0\nfor(const el in msg.payload){\n    if(msg.payload[el].temp > 29){\n        isAcOn = true\n        if(i == 0){\n            res += `('AC${el.slice(-1)}',${ACstatusON},${ACtempON},'${msg.date}')`\n        }\n        else{\n             res += `,('AC${el.slice(-1)}',${ACstatusON},${ACtempON},'${msg.date}')`\n        }\n        i++;\n    }\n   \n}\nif(isAcOn){\n    msg.topic = res\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1160,"wires":[["b8af67ae.e25328"]]},{"id":"b8af67ae.e25328","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"insertACToDbQuery","x":880,"y":1160,"wires":[[]]},{"id":"48ba51d3.5ec5d","type":"function","z":"f25e6545.fb6a48","name":"checkForSensorTempMulfunction","func":"const date = msg.date;\nlet msgForUser = []\nfor(let el in msg.payload) {\n    let tempDif = msg.payload[el].tempDif\n    if(tempDif > 5) {\n        msgForUser.push(`${el} seems to have a weird behaviour`)\n    }\n}\nif(msgForUser.length > 0) return {msgForUser}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1220,"wires":[["2e88520c.3b310e"]]},{"id":"2e88520c.3b310e","type":"debug","z":"f25e6545.fb6a48","name":"TODO","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":1220,"wires":[]},{"id":"4a6c57f5.8f25b8","type":"function","z":"f25e6545.fb6a48","name":"getDateAndTime","func":"const result = JSON.parse(msg.payload)\nconst date_time = result.date\nconst [date,time] = date_time.split(\"-\")\nmsg = {date_time,date,time}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":680,"wires":[["505f7007.28ffa","dc7ee4fd.9a8ed8","c5653d19.d0dec","a9230729.a29178"]]},{"id":"505f7007.28ffa","type":"switch","z":"f25e6545.fb6a48","name":"vacuumHandler","property":"date_time","propertyType":"msg","rules":[{"t":"eq","v":"Mon-10:00","vt":"str"},{"t":"eq","v":"Wed-10:00","vt":"str"},{"t":"eq","v":"Fri-10:00","vt":"str"},{"t":"eq","v":"Mon-12:00","vt":"str"},{"t":"eq","v":"Wed-12:00","vt":"str"},{"t":"eq","v":"Fri-12:00","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":620,"y":580,"wires":[["fc541bfc.b18028"],["fc541bfc.b18028"],["fc541bfc.b18028"],["506f4e65.0d956"],["506f4e65.0d956"],["506f4e65.0d956"]]},{"id":"fc541bfc.b18028","type":"function","z":"f25e6545.fb6a48","name":"vacuumStart","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO vacuum(`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":560,"wires":[["d5839b77.7949b8"]]},{"id":"506f4e65.0d956","type":"function","z":"f25e6545.fb6a48","name":"vacuumStop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"vacuum\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO vacuum(`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":600,"wires":[["d5839b77.7949b8"]]},{"id":"d5839b77.7949b8","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"insertVacuumToDbQuery","x":1070,"y":580,"wires":[[]]},{"id":"dc7ee4fd.9a8ed8","type":"switch","z":"f25e6545.fb6a48","name":"waterHeaterHandler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"17:00","vt":"str"},{"t":"eq","v":"17:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":680,"wires":[["64bcc64.6531838"],["9449afa2.712bb"]]},{"id":"64bcc64.6531838","type":"function","z":"f25e6545.fb6a48","name":"waterHeaterStart","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"waterHeater\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO water_heater (`name`,`status`,`date_time`) VALUES (:name,:status,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":660,"wires":[["a461d113.110e9"]]},{"id":"9449afa2.712bb","type":"function","z":"f25e6545.fb6a48","name":"waterHeaterStop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"waterHeater\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO water_heater (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":700,"wires":[["a461d113.110e9"]]},{"id":"a461d113.110e9","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"insertWaterHeaterToDbQuery","x":1100,"y":680,"wires":[[]]},{"id":"c5653d19.d0dec","type":"switch","z":"f25e6545.fb6a48","name":"switch0Handler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"03:30","vt":"str"},{"t":"eq","v":"06:30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":780,"wires":[["4b9ca152.3d27a"],["1a8eb05e.7f9ac"]]},{"id":"4b9ca152.3d27a","type":"function","z":"f25e6545.fb6a48","name":"switch0Start","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch0\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":760,"wires":[["3fce0b7b.d44a34"]]},{"id":"1a8eb05e.7f9ac","type":"function","z":"f25e6545.fb6a48","name":"switch0Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch0\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":800,"wires":[["3fce0b7b.d44a34"]]},{"id":"3fce0b7b.d44a34","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"insertSwitch0ToDbQuery","x":1070,"y":780,"wires":[[]]},{"id":"a9230729.a29178","type":"switch","z":"f25e6545.fb6a48","name":"switch1Handler","property":"time","propertyType":"msg","rules":[{"t":"eq","v":"Mon-07:30","vt":"str"},{"t":"eq","v":"Tue-07:30","vt":"str"},{"t":"eq","v":"Wed-07:30","vt":"str"},{"t":"eq","v":"Thu-07:30","vt":"str"},{"t":"eq","v":"Fri-07:30","vt":"str"},{"t":"eq","v":"Mon-07:45","vt":"str"},{"t":"eq","v":"Tue-07:45","vt":"str"},{"t":"eq","v":"Wed-07:45","vt":"str"},{"t":"eq","v":"Thu-07:45","vt":"str"},{"t":"eq","v":"Fri-07:45","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":640,"y":900,"wires":[["d938c500.9a3a48"],["d938c500.9a3a48"],["d938c500.9a3a48"],["d938c500.9a3a48"],["d938c500.9a3a48"],["9c0285d8.96fd08"],["9c0285d8.96fd08"],["9c0285d8.96fd08"],["9c0285d8.96fd08"],["9c0285d8.96fd08"]]},{"id":"d938c500.9a3a48","type":"function","z":"f25e6545.fb6a48","name":"switch1Start","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch1\"\nmsg.payload.status = true;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":860,"wires":[["45e86c02.5e3454"]]},{"id":"9c0285d8.96fd08","type":"function","z":"f25e6545.fb6a48","name":"switch1Stop","func":"const date_time = msg.date_time\nmsg.payload = {}\nmsg.payload.name = \"switch1\"\nmsg.payload.status = false;\nmsg.payload.date_time = date_time\nmsg.topic = \"INSERT INTO switch (`name`,`status`,`date_time`) VALUES(:name,:status,:date_time)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":940,"wires":[["45e86c02.5e3454"]]},{"id":"45e86c02.5e3454","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"insertSwitch0ToDbQuery","x":1090,"y":900,"wires":[[]]},{"id":"52b0362d.b4f6d8","type":"function","z":"f25e6545.fb6a48","name":"insertMotionSensorsToDbQuery","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg.payload = {}\nmsg.payload.name = key\nmsg.payload.status = result.data.status\nmsg.payload.date_time = date\nmsg.topic = \"INSERT INTO motion_sensor(`name`,`status`,`date_time`) VALUES (:name,:status,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":180,"wires":[["50e16a38.fd7ce4"]]},{"id":"bac8fa11.b01848","type":"function","z":"f25e6545.fb6a48","name":"insertToDbQuery","func":"const status = msg.payload.status\nconst date = msg.date\nlet device = msg.topic\nconst tables = {\n    \"sensorMotion\" : \"motion_sensor\",\n    \"alarm\" : \"alarm\",\n    \"sensorMagnet\" : \"magnet_sensor\"\n}\n\nconst table = device == \"alarm\" ? device : device.slice(0,-1);\n\nmsg.payload = {}\nmsg.payload.name = device;\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=`INSERT INTO ${tables[table]}` + \"(`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":240,"wires":[["79e7d664.0e5438"]]},{"id":"50e16a38.fd7ce4","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"sensorMotionTable","x":630,"y":180,"wires":[[]]},{"id":"1c931fc3.a6fff","type":"function","z":"f25e6545.fb6a48","name":"insertSensorLightsToDbQuery","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg.payload = {}\nmsg.payload.name = key\nmsg.payload.lm = result.data.lm\nmsg.payload.date_time = date\nmsg.topic = \"INSERT INTO light_sensor(`name`,`lm`,`date_time`) VALUES (:name,:lm,:date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":40,"wires":[["1f9667ef.ff41b8"]]},{"id":"1f9667ef.ff41b8","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"sensorLightsTable","x":630,"y":40,"wires":[[]]},{"id":"2780eb41.ce3c54","type":"Kafka Broker","name":"broker9092","hosts":[{"host":"localhost","port":9092}],"hostsEnvVar":"","connectTimeout":"100","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false,"useCredentials":false},{"id":"d473ed0.313951","type":"MySQLdatabase","name":"smart-home-db","host":"localhost","port":"3311","db":"smart_home","tz":"","charset":"UTF8"}]