node-red-flows.json
[{"id":"f25e6545.fb6a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c04fe6a5.631558","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorMotion","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":2}],"groupId":"sensorMotionGroup","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":220,"wires":[["21138630.5f87ea"]]},{"id":"fd66be6a.fd506","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorMagnet","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":4}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":420,"wires":[["4bf1c08e.ad3fc"]]},{"id":"6a81b568.786bcc","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"alarm","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":5}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":70,"y":320,"wires":[["4bf1c08e.ad3fc","85a793cb.c9159"]]},{"id":"9fbe1886.f5c4e8","type":"join","z":"f25e6545.fb6a48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530,"y":320,"wires":[["249b9449.d5385c"]]},{"id":"4bf1c08e.ad3fc","type":"function","z":"f25e6545.fb6a48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["9fbe1886.f5c4e8","bac8fa11.b01848"]]},{"id":"249b9449.d5385c","type":"function","z":"f25e6545.fb6a48","name":"setSirenStatus","func":"let activatedSiren = false\nlet alarmOn = msg.payload.alarm.status == 1 \nif(alarmOn){\n    for(let device in msg.payload){\n        if(device != \"alarm\" && msg.payload[`${device}`].status == 1){\n            activatedSiren = true\n        }\n    }\n}\nreturn {activatedSiren , date:msg.date};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["68b1cdbc.a1f374"]]},{"id":"68b1cdbc.a1f374","type":"switch","z":"f25e6545.fb6a48","name":"isSirenOn","property":"activatedSiren","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":320,"wires":[["1bbd2122.8b845f","338418c8.423078"],["338418c8.423078"]]},{"id":"1bbd2122.8b845f","type":"debug","z":"f25e6545.fb6a48","name":"TODO BOT","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":260,"wires":[]},{"id":"ba187b38.1b3f68","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"sirenTable","x":1390,"y":320,"wires":[[]]},{"id":"338418c8.423078","type":"function","z":"f25e6545.fb6a48","name":"insertSirenToDbQuery","func":"const status = msg.activatedSiren == 1\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"siren\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=\"INSERT INTO siren (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":320,"wires":[["ba187b38.1b3f68"]]},{"id":"ff9a811f.84d82","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorSmoke","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":500,"wires":[["253fd001.b7f85"]]},{"id":"253fd001.b7f85","type":"function","z":"f25e6545.fb6a48","name":"getSmokeSensorStatusDetails","func":"msg =  JSON.parse(msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":500,"wires":[["c85ccbf0.358ff8"]]},{"id":"c85ccbf0.358ff8","type":"switch","z":"f25e6545.fb6a48","name":"isSmokeDetected","property":"data.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":500,"wires":[["d4a841f0.e3f27","267d3c1b.b21424"],["267d3c1b.b21424"]]},{"id":"d4a841f0.e3f27","type":"debug","z":"f25e6545.fb6a48","name":"TODO BOT","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":440,"wires":[]},{"id":"267d3c1b.b21424","type":"function","z":"f25e6545.fb6a48","name":"insertSmokeToDbQuery","func":"const status = msg.data.status == 1\nconst date = msg.date\nmsg.payload = {}\nmsg.payload.name = \"sensorSmoke\";\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=\"INSERT INTO smoke_sensor (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":500,"wires":[["7be3f6f9.61e628"]]},{"id":"7be3f6f9.61e628","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"sensorSmokeTable","x":1110,"y":500,"wires":[[]]},{"id":"bac8fa11.b01848","type":"function","z":"f25e6545.fb6a48","name":"insertToDbQuery","func":"const status = msg.payload.status\nconst date = msg.date\nlet device = msg.topic\nconst tables = {\n    \"sensorMotion\" : \"motion_sensor\",\n    \"alarm\" : \"alarm\",\n    \"sensorMagnet\" : \"magnet_sensor\"\n}\n\nconst table = device == \"alarm\" ? device : device.slice(0,-1);\n\nmsg.payload = {}\nmsg.payload.name = device;\nmsg.payload.status = status\nmsg.payload.date_time = date\nmsg.topic=`INSERT INTO ${tables[table]}` + \"(`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":260,"wires":[["79e7d664.0e5438"]]},{"id":"79e7d664.0e5438","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"","x":760,"y":260,"wires":[[]]},{"id":"ad82109a.50684","type":"Kafka Consumer","z":"f25e6545.fb6a48","name":"sensorLight","broker":"2780eb41.ce3c54","regex":false,"topics":[{"topic":"smart-home","offset":0,"partition":1}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","convertToJson":false,"x":90,"y":100,"wires":[["21138630.5f87ea"]]},{"id":"21138630.5f87ea","type":"function","z":"f25e6545.fb6a48","name":"formatJoin","func":"const result = JSON.parse(msg.payload)\nkey = msg._kafka.key\ndate = result.date\nmsg = {}\nmsg.payload = result.data\nmsg.topic = key\nmsg.date = date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":160,"wires":[["1fb6f386.ef879c"]]},{"id":"1fb6f386.ef879c","type":"join","z":"f25e6545.fb6a48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":160,"wires":[["cb169ba8.975158","867c324e.85191"]]},{"id":"cb169ba8.975158","type":"function","z":"f25e6545.fb6a48","name":"setLamp1Status","func":"let isOff = true;\nlet sensorLight1 = msg.payload.sensorLight1;\nlet sensorMotion1 = msg.payload.sensorMotion1;\nif(+sensorLight1.lm < 200 && sensorMotion1.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp1\",\n    status: !isOff,\n    date_time: msg.date\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["bd4821c6.8f071"]]},{"id":"867c324e.85191","type":"function","z":"f25e6545.fb6a48","name":"setLamp4Status","func":"let isOff = true;\nlet sensorLight4 = msg.payload.sensorLight4;\nlet sensorMotion4 = msg.payload.sensorMotion4;\nif(+sensorLight4.lm < 200 && sensorMotion4.status == 1){\n    isOff = false;\n}\nmsg = {\n    name: \"lamp4\",\n    status: !isOff,\n    date_time: msg.date\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":180,"wires":[["bd4821c6.8f071"]]},{"id":"bd4821c6.8f071","type":"function","z":"f25e6545.fb6a48","name":"insertLampToDbQuery","func":"msg.payload = {...msg}\nmsg.topic=\"INSERT INTO lamp (`name`, `status`,`date_time`) VALUES ( :name , :status , :date_time);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":160,"wires":[["df63a028.43904"]]},{"id":"df63a028.43904","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"lampTable","x":1170,"y":160,"wires":[[]]},{"id":"85a793cb.c9159","type":"function","z":"f25e6545.fb6a48","name":"turnOffLampsWhenAlarmOn","func":"const result = JSON.parse(msg.payload)\nconst status = result.data.status\nconst date = result.date\nconst lamps =[\"lamp0\",\"lamp2\",\"lamp3\"];\nlet insertQuery = \"\"\nlet res = \"INSERT INTO lamp(`name`,`status`,`date_time`) VALUES \";\n\nif(status == 1) {\n    for(let idx = 0 ; idx < lamps.length ; idx++) {\n        // msg.payload = {}\n        // msg.payload.name = lamps[idx]\n        // msg.payload.status = false\n        // msg.payload.date_time = date\n        if(idx == lamps.length - 1) {\n            res += `('${lamps[idx]}',false,'${date}');`  \n        }\n        else{\n             res += `('${lamps[idx]}',false,'${date}'),`  \n        }\n    }\n}\nmsg.topic = res\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["bf252683.3a58a8"]]},{"id":"bf252683.3a58a8","type":"mysql","z":"f25e6545.fb6a48","mydb":"d473ed0.313951","name":"lampTable","x":590,"y":420,"wires":[[]]},{"id":"2780eb41.ce3c54","type":"Kafka Broker","name":"broker9092","hosts":[{"host":"localhost","port":9092}],"hostsEnvVar":"","connectTimeout":"100","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false,"useCredentials":false},{"id":"d473ed0.313951","type":"MySQLdatabase","name":"smart-home-db","host":"localhost","port":"3311","db":"smart_home","tz":"","charset":"UTF8"}]